asgiref==3.8.1
colorama==0.4.6
crispy-bootstrap5==2024.10
Django==5.1.5
django-crispy-forms==2.3
django-stubs==6.0.6
django-stubs-ext==6.0.6
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
pillow==11.1.0
psycopg2==2.9.10
python-dotenv==1.0.1
qrcode==8.0
sqlparse==0.5.3
tomli==2.4.1
types-PyYAML==6.0.12.20260518
typing_extensions==4.12.2
tzdata==2025.1
