{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %} {{ page_title }} {% endblock %}
{% block main %}
<!-- Row starts -->
<div class="row gx-4">
  <div class="col-sm-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="custom-tabs-container">
          <ul class="nav nav-tabs" id="customTab3" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="tab-oneAA" data-bs-toggle="tab" href="#oneAA" role="tab"
                aria-controls="oneAA" aria-selected="true">
                  <i class="bi bi-columns"></i>
                  Louer
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="tab-twoAA" data-bs-toggle="tab" href="#twoAA" role="tab"
                aria-controls="twoAA" aria-selected="false" tabindex="-1">
                  <i class="bi bi-door-closed"></i>
                  Réserver
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="tab-threeAA" data-bs-toggle="tab" href="#threeAA" role="tab"
                aria-controls="threeAA" aria-selected="false" tabindex="-1">
                  <i class="bi bi-record-circle"></i>
                  Zone / Domaine
              </a>
            </li>
          </ul>
          <div class="tab-content" id="customTabContent3">
            <div class="tab-pane fade show active" id="oneAA" role="tabpanel" aria-labelledby="tab-oneAA">
                <form method="POST" action="{% url 'louer' %}" class="row gx-4" id="locationForm">
                {% csrf_token %}
                    <!-- Liste Clients -->
                <div class="col-xl-3 col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label" for="clients-select">Selectionnez un Client <span style="color: red">*</span></label>
                    <select name="location" required class="form-select bg-secondary" id="clients-select"
                            aria-label="Default select example">
                        <option value="">-- Selectionner un Client --</option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label" for="id_zone">Zone <span style="color: red">*</span></label>
                    {{ form.zone | as_crispy_field  }}
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label" for="id_montant_a_payer">Prix <span style="color: red">*</span></label>
                    {{ form.montant_a_payer | as_crispy_field  }}
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label" for="id_montant_reduit">Remise</label>
                    {{ form.montant_reduit | as_crispy_field  }}
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label" for="id_date_debut">Date de debut <span style="color: red">*</span></label>
                    {{ form.date_debut | as_crispy_field  }}
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label" for="id_date_fin">Date de fin <span style="color: red">*</span></label>
                    {{ form.date_fin | as_crispy_field  }}
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label" for="id_statut">Etat <span style="color: red">*</span></label>
                    {{ form.statut | as_crispy_field  }}
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label" for="id_type_location">Type <span style="color: red">*</span></label>
                    {{ form.type_location | as_crispy_field  }}
                  </div>
                </div>
                <div class="col-xl-3 col-sm-4 col-12">
                  <div class="mb-3">
                    <label class="form-label" for="id_description">Commentaire</label>
                    {{ form.description | as_crispy_field  }}
                  </div>
                </div>


                <!-- Zone d'affichage des messages -->
                <div id="responseMessageLouer" class="alert bg-success text-white alert-dismissible fade" role="alert">

                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                    aria-label="Close"></button>
                </div>

                <div class="col-sm-12 col-12">
                  <div class="d-flex gap-4 justify-content-end">
                    <button type="button" id="submitLocation" class="btn btn-primary">Céer</button>
                    <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                  </div>
                </div>
              </form>
            </div> <!-- Tab Form -->

            <div class="tab-pane fade" id="twoAA" role="tabpanel" aria-labelledby="tab-twoAA">
                <div class="row gx-4">
                    {% csrf_token %}
                        <!-- Liste Clients -->
                    <div class="col-xl-3 col-sm-4 col-12">
                      <div class="mb-3">
                        <label class="form-label" for="clients-select">Selectionnez un Client <span style="color: red">*</span></label>
                        <select name="reservation" required class="form-select bg-secondary" id="clientsSelectReservation"
                                aria-label="Default select example">
                            <option value="">-- Selectionner un Client --</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-4 col-12">
                      <div class="mb-3">
                        <label class="form-label" for="id_zone">Zone <span style="color: red">*</span></label>
                        {{ reservation_form.zone | as_crispy_field  }}
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-4 col-12">
                      <div class="mb-3">
                        <label class="form-label" for="id_type">Type de réservation <span style="color: red">*</span></label>
                        {{ reservation_form.type | as_crispy_field  }}
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-4 col-12">
                      <div class="mb-3">
                        <label class="form-label" for="id_etat_reservation">Statut</label>
                        {{ reservation_form.etat_reservation | as_crispy_field  }}
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-4 col-12">
                      <div class="mb-3" id="date_debut_reservation_container">
                        <label class="form-label" for="id_date_debut">Date de debut <span style="color: red">*</span></label>
                        {{ reservation_form.date_debut | as_crispy_field  }}
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-4 col-12">
                      <div class="mb-3">
                        <label class="form-label" for="id_date_fin">Date de fin <span style="color: red">*</span></label>
                        {{ reservation_form.date_fin | as_crispy_field  }}
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-4 col-12">
                      <div class="mb-3">
                        <label class="form-label" for="id_commentaire">Commentaire</label>
                        {{ reservation_form.commentaire | as_crispy_field  }}
                      </div>
                    </div>


                    <!-- Zone d'affichage des messages -->
                    <div id="responseMessageReservation" class="alert bg-success text-white alert-dismissible fade" role="alert">

                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                    </div>

                    <div class="col-sm-12 col-12">
                      <div class="d-flex gap-4 justify-content-end">
                        <button type="button" id="submitReservation" class="btn btn-primary">Céer</button>
                        <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="tab-pane fade" id="threeAA" role="tabpanel" aria-labelledby="tab-threeAA">
                <form method="POST" action="{% url 'create_zone' %}" class="row gx-4" id="zoneForm">
                    {% csrf_token %}
                    <div class="col-xl-3 col-sm-4 col-12">
                      <div class="mb-3">
                        <label class="form-label" for="id_nom">Nom de la zone</label>
                        {{ zone_form.nom | as_crispy_field  }}
                      </div>
                    </div>
                    <div class="col-xl-3 col-sm-4 col-12">
                      <div class="mb-3">
                        <label class="form-label" for="id_statut">Statut</label>
                        {{ zone_form.statut | as_crispy_field  }}
                      </div>
                    </div>

                    <!-- Zone d'affichage des messages -->
                    <div id="responseMessageZone" class="alert bg-success text-white alert-dismissible fade" role="alert">

                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                    </div>

                    <div class="col-sm-12 col-12">
                      <div class="d-flex gap-4 justify-content-end">
                        <button type="submit" class="btn btn-primary">Céer</button>
                        <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                      </div>
                    </div>
                </form>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>


</div>
<!-- Row ends -->
{% endblock main %}

{% block custom_js %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'assets/js/location_reservation.js' %}"></script>
{% endblock %}

