{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block page_title %} {{ page_title }} {% endblock %}
{% block main %}
<!-- Row starts -->
<div class="row gx-4">
    <div class="col-sm-5">

        <!-- Card starts -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Commandes</h5>
            </div>
            <div class="card-body overflow-auto" style="max-height: 400px">
                <div class="graph-body auto-align-graph">

                    <div id="commandes" class="">
                        <!-- Row starts -->
                        <form method="POST" action="{% url 'passer_commande' %}" class="row gx-4" id="form_commandes">
                            {% csrf_token %}

                            <div class="col-sm-12 col-12" id="colReduction" hidden="hidden">
                                <div class="mb-4">
                                    <div class="m-0">
                                        <label class="form-label" for="reduction">Rémise</label>
                                        <div class="input-group">
                                            <input type="number" name="remise" class="form-control" id="reduction">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12" id="colTotal">
                                <div class="mb-4">
                                    <div class="m-0 d-flex justify-content-between border-bottom">
                                        <p>Total :</p>
                                        <h5 id="montantTotal"></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-12" id="colSubmit" hidden="hidden">
                                <div class="d-flex gap-2 justify-content-end">
                                    <button type="submit" class="btn btn-primary">Valider</button>
                                    <button type="button" id="annuler-commande" class="btn btn-outline-secondary ms-3">Annuler</button>
                                </div>
                            </div>
                        </form>
                        <!-- Row ends -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Card ends -->
    </div>

    <div class="col-sm-7">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Menu</h5>
            </div>
            <div class="card-body">
                <div class="custom-tabs-container">
                    <ul class="nav nav-tabs" id="customTab2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-oneA" data-bs-toggle="tab" href="#oneA" role="tab"
                               aria-controls="oneA" aria-selected="true">Plats
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab-twoA" data-bs-toggle="tab" href="#twoA" role="tab"
                               aria-controls="twoA" aria-selected="false">Boissons</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="customTabContent2">

                        <!-- Tab One-->
                        <div class="tab-pane fade show active" id="oneA" role="tabpanel">
                            <div class="row gx-4" id="plats-container">
                                {% for plat in plats %}
                                <div class="plat col-4 col-sm-2 mb-4" role="button">
                                    <p class="uuid" hidden>{{ plat.id }}</p>
                                    {% if plat.photo_plat %}
                                    <img src="{{ plat.photo_plat.url }}"
                                         style="background-size: cover; border-radius: 10px"
                                         class="img-fluid " alt="{{plat.photo_plat.name}}"/>
                                    {% else %}
                                    <img src="{% static 'assets/images/LogoMarbika.png' %}" style="background-size: cover;"
                                         class="img-fluid " alt="Bootstrap Gallery"/>
                                    {% endif %}
                                    <p>
                                        <span class="designation">{{ plat.nom_plat}}</span>
                                        <span class="badge rounded-pill bg-success">{{ plat.prix | currency }}</span>
                                        <span class="productPrice" hidden>{{ plat.prix }}</span>
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Tab One End-->

                        <!-- Tab Two-->
                        <div class="tab-pane fade" id="twoA" role="tabpanel">
                            <div class="row gx-4 flex-wrap" id="boissons-container">
                                {% for boisson in boissons %}
                                <div class="boisson col-4 col-sm-2 mb-4" role="button">
                                    <p class="uuid" hidden>{{ boisson.id }}</p>
                                    {% if boisson.photo_boisson %}
                                    <img src="{{boisson.photo_boisson.url}}"
                                         style="background-size: cover; border-radius: 10px"
                                         class="img-fluid " alt="{{boisson.photo_boisson.name}}"/>
                                    {% else %}
                                    <img src="{% static 'assets/images/LogoMarbika.png' %}"
                                         style="background-size: cover;"
                                         class="img-fluid " alt="Bootstrap Gallery"/>
                                    {% endif %}
                                    <p>
                                        <span class="designation">{{ boisson.designation }}</span>
                                        <span class="badge rounded-pill bg-success">{{ boisson.prix_vente | currency }}</span>
                                        <span class="productPrice" hidden>{{ boisson.prix_vente}}</span>
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Tab Two Ends-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Liste Commandes Card starts -->
    <div class="card col-sm-12 col-xl-8">
        <div class="card-header">
            <h5 class="card-title">Commandes</h5>
        </div>
        <div class="card-body">

            <!-- Table starts -->
            <div class="table-bg">
                <div class="table-responsive">
                    <table id="tabCommandes" class="table truncate">
                        <thead>
                        <tr>
                            <!--                  <th>#</th>-->
                            <th>Reference</th>
                            <th>Date</th>
                            <th>Montant</th>
                            <th>Remise</th>
                            <th>Montant payé</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Table ends -->

        </div>
    </div>
    <!-- Liste Commandes Card ends -->

    <div class="col-xl-4 col-sm-12">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title" id="cardTitle">Ticket</h5>
            </div>
            <div class="card-body scroll350 overflow-auto">
                <div class="m-auto p-2" style="width: 303px; background-color: #fff">
                    <div class="text-center" id="logoMarbika">
                        <img src="{% static 'assets/images/LogoMarbika.png' %}" alt="Logo Marbika" class="img-fluid m-2"
                             style="width: 100px">
                    </div>
                    <div id="infoCommande" class="mt-2" style="color: #000;">
                        <p class="my-0 fw-bold">Commande : <span class="fw-normal" id="referenceCMD"></span></p>
                        <p id="dateCommande"></p>
                    </div>
                    <table id="tabDetailsCommande" class="col-12 col-xl-12" style="color: #000">
                        <thead style="border-top: 1px dashed black; border-bottom: 1px dashed black; color: #000;">
                        <tr>
                            <th class="border-end py-2">Qte</th>
                            <th class="border-end text-center">Produits</th>
                            <th class="text-end">Prix U</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                    <div id="barcode-container" class="mt-5" hidden="hidden">
                        <svg id="barcode" class="col-12 col-xl-12"></svg>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- Row ends -->
{% block custom_js %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
{% endblock %}

<script defer src="{% static 'assets/js/JsBarcode.all.min.js' %}"></script>
<script>
    $(document).ready(function(){
      var table = $("#tabCommandes").DataTable({
        ajax: '/restaurant/commandes/get_commandes/',
        order: [[1, 'desc']],
        columns: [
          { data: 'reference', orderable: false },
          { data: 'date'},
          { data: 'montant' },
          { data: 'reduction' },
          { data: 'montant_a_payer' },
          { data: 'actions' },
        ],
        language: {
            processing: "Traitement en cours...",
            search: "Rechercher&nbsp;:&nbsp;",
            lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
            info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
            infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
            loadingRecords: "Chargement en cours...",
            zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
            emptyTable:     "Aucune donnée disponible dans le tableau",
            aria: {
                sortAscending:  ": activer pour trier la colonne par ordre croissant",
                sortDescending: ": activer pour trier la colonne par ordre décroissant"
            }
        },
      })

        // Tableau contenant les Plats et Boissons dans la Commande
        // Ce Tableau doit etre reinialiser après la soumission de la Commande
        var tabPlatsBoissons = [];


        // Ajouté l'element dans le DOm
        function addtoDom(product, type){
            let img = product.find("img").attr("src")
            let productName = product.find(".designation").text().trim()
            let productPrice = product.find(".productPrice").text().trim()
            let productUuid = product.find(".uuid").text().trim()
            let dataType = type

            // Verifier si produit est deja ajouté dans le DOM
            if(tabPlatsBoissons.includes(productUuid)){
                let qte = $("#" + productUuid).val()
                $("#" + productUuid).val(Number(qte) + 1)
                calculerMontant();

            }else{
                creerChampPlatBoisson(platBoisson = productName, productUuid, idQuantite=productUuid, productPrice, dataType)
                tabPlatsBoissons.push(productUuid)
                calculerMontant();
            }
        }

        $("#plats-container").on("click", ".plat", function(){
          // Afficher le champs Reduction et le bouton Submit
          // Lorsque le formulaire contient au mooins un produit
          if($("#form_commandes").find("input").length > 1){
            $("#colReduction").attr("hidden", false)
            $("#colSubmit").attr("hidden", false)
          }
            addtoDom(product=$(this), "plat")
        })
        $("#boissons-container").on("click", ".boisson", function(){
            if($("#form_commandes").find("input").length > 1){
              $("#colReduction").attr("hidden", false)
              $("#colSubmit").attr("hidden", false)
            }
            addtoDom(product=$(this), "boisson")
        })

      function creerChampPlatBoisson(platBoisson, idPlatBoisson, idQuantite, productPrice, dataType) {
        // Colonne Plat / Boisson
        let $colPlat = $("<div>", { class: "col-xl-4 col-sm-6 col-12"});
        let $divPlat = $("<div>", { class: "mb-3" });
        let $labelPlat = $("<label>", { class: "form-label", text: "Plat / Boisson" });
        let $inputPlat = $("<input>", { type: "text", class: "form-control", value: platBoisson });
        let $inputHidden = $("<input>", { type: "text", class: "form-control productName", value: idPlatBoisson, hidden: true });

        $divPlat.append($labelPlat, $inputPlat, $inputHidden);
        $colPlat.append($divPlat);

        // Colonne Quantité
        let $colQuantite = $("<div>", { class: "col-xl-4 col-sm-6 col-12" });
        let $divQuantite = $("<div>", { class: "mb-3" });
        let $labelQuantite = $("<label>", { class: "form-label", for: idQuantite, text: "Quantité" });
        let $inputQuantite = $("<input>", { type: "number", min: 1, name: "productQuantity", class: "form-control quantite", id: idQuantite, placeholder: "Entrez la quantité", value: 1 });

        $divQuantite.append($labelQuantite, $inputQuantite);
        $colQuantite.append($divQuantite);

        // Colonne Prix
        let $colPrix = $("<div>", { class: "col-xl-4 col-sm-12 col-12" });
        let $divPrix = $("<div>", { class: "mb-3" });
        let $labelPrix = $("<label>", { class: "form-label", for: "quantite", text: "Prix" });
        let $inputPrix = $("<input>", { type: "number", name: "productPrice", class: "form-control prix", id: "productPrice", placeholder: "Entrez le prix", value: productPrice });

        $divPrix.append($labelPrix, $inputPrix);
        $colPrix.append($divPrix);

        let $productsOrdered = $("<div>", { class: "row col-12 d-flex justify-content-between flex-wrap productsOrdered", "data-type": dataType });

        let $colSep = $("<div>", { class: "col-12 border my-2" });
        $productsOrdered.append($colPlat, $colQuantite, $colPrix, $colSep)

        // Ajouter les colonnes au conteneur principal
        $("#colReduction").before($productsOrdered);

        $("#colReduction, #colSubmit").slideDown(300);
      }

      // Calculer le Montant de la Commande
      function calculerMontant(){
        let subTotal = 0;
        $(".productsOrdered").each(function(){
          let prix = Number($(this).find(".prix").val()) || 0;
          let quantite = parseInt($(this).find(".quantite").val()) || 0;
          subTotal += prix * quantite ;
          let reduction = Number($("#reduction").val())
          let total = subTotal - reduction

          $("#montantTotal").text(total.toLocaleString() + " GNF");
        })
      }

      // Mettre a jour le montant total a chaque modification de valeur des champs Quantite, Prix et Reduction
      $(document).on("input", ".quantite, .prix, #reduction", function(){
        calculerMontant();
      })

      // Recuperer le token CSRF
      function getCSRFToken(){
          const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
          return csrfToken ? csrfToken.value : "";
      }

      // Soumission de la commande
      $("#form_commandes").submit(function(e){
        e.preventDefault();
        let platsBoissons = [] // Liste des plats et boisson a soumettre
        $(".productsOrdered").each(function(){
          let type = $(this).data("type")
          let designation = $(this).find(".productName").val()
          let prix = $(this).find(".prix").val()
          let quantite = $(this).find(".quantite").val()

          platsBoissons.push({type: type, designation: designation, quantite: parseInt(quantite), prix: parseInt(prix)})
        })

        let reduction = $("#reduction").val() || 0;
        data = {
          plat_boissons: platsBoissons,
          reduction: reduction,
        }
        const actionUrl = $(this).attr("action");
        $.ajax({
          url: actionUrl,
          method: "POST",
          headers: { 'X-CSRFToken': getCSRFToken() },
          data: JSON.stringify(data),
          contentType: "application/json",
          success: function(res){
            if(res.success){
              alert("Commande enregistrée avec succès !");

              // Supprimer tous les produits ajoutés
              $("#form_commandes .productsOrdered").each(function(){
                $(this).slideUp(300, function(){
                    $(this).remove(); // Supprimer, Apres l'animation
                });
              });
              //$("#form_commandes").children().not("#colReduction, #colSubmit").remove()
              //$("#colReduction, #colSubmit").attr("hidden", true)
              $("#colReduction, #colSubmit").slideUp(300)

              $("#montantTotal").text("")

              // Actualiser le Tableau pour ajouter les nouveaux enregistrements
              table.ajax.reload();

              // Réinitialiser d'autres champs
              $("#form_commandes")[0].reset();

              tabPlatsBoissons = []

            } else{
              alert("Erreur : " + res.error)
              console.log("Erreur : ", res.error)
            }
          },
          error: function(xhr){
            alert("Erreur lors de l'envoi de la commande.");
            console.log(xhr)
            alert(xhr.responseJSON.error)
          }
        })
      })

      // Annuler la commande
      $("#annuler-commande").on('click', function(){
        // Supprimer tous les produits ajoutés
          $("#form_commandes .productsOrdered").each(function(){
            $(this).slideUp(300, function(){
                $(this).remove(); // Supprimer, Apres l'animation
            });
          });
          //$("#form_commandes").children().not("#colReduction, #colSubmit").remove()
          //$("#colReduction, #colSubmit").attr("hidden", true)
          $("#colReduction, #colSubmit").slideUp(300)

          $("#montantTotal").text("")
          // Réinitialiser d'autres champs
          $("#form_commandes")[0].reset();

          tabPlatsBoissons = []
      })

      // Tableau devant contenir les references des commandes
      var tabReferences = []

      $(document).on('click','.details', function(e){
        e.preventDefault();

        // Récupérer l'URL du lien
        let url = $(this).attr('href')

        // Extraire l'ID depuis l'URL avec une regex
        let parts = url.split("/")
        let commande_id = parts[4]

        if(commande_id){
            $.ajax({
                url: url,
                method: "GET",
                dataType: 'json',
                success: function(res){
                    const reference = res.reference
                    const date_commande = res.date_creation

                    //$("#cardTitle").text("Details de la commande : " + reference).fadeIn()

                    if(!tabReferences.includes(reference)){
                      if(res.plats.length > 0){
                        creerDetailElement(res.plats)
                      }
                      if(res.boissons.length > 0){
                        creerDetailElement(res.boissons)
                      }
                      ajouterFooterFacture(res.montant, res.reduction, reference, date_commande)

                      //creerBarcode(reference)
                      // Afficher le code-barre
                      $("#barcode-container").attr("hidden", false)
                      JsBarcode("#barcode", reference, {
                        format: "CODE128",
                        lineColor: "#000",
                        width: 2,
                        height: 20,
                        displayValue: true,
                        fontSize: 16,
                        margin: 10
                      });

                      // Ajouter la reference au tableau pour empecher de dupliquer la commande sur la Facture
                      tabReferences.push(reference)
                    }


                },
                error: function(err){
                    console.log(err)
                },
            })
        }
      })


      function creerDetailElement(tabProduits){

          tabProduits.forEach(produit =>{
             // La ligne devant contenir les produits Plats et Boisson
          let ligneProduits = $("<tr>")

          // Les Cellules de la ligne
          let cellQte = $("<td>")
          let cellNom = $("<td>").addClass("ps-1")
          let cellPrix = $("<td>").addClass("text-end")

          cellQte.text(produit.quantite.toString() + " x ")
          cellNom.text(produit.nom)
          cellPrix.text(produit.prix.toLocaleString() + " GNF")

          // Ajouter les cellules dans ligne parent
          ligneProduits.append(cellQte, cellNom, cellPrix).attr("id", produit.id)
          $("#tabDetailsCommande tbody").append(ligneProduits)
        })
        $("#tabDetailsCommande tbody").css({
          "border-bottom": "1px dashed #000"
        })
      } // Fin Creer Details commande


      function ajouterFooterFacture(montant, reduction, reference, date_commande){
        // Ajout de la reference de la commande sur le ticket
        $("#referenceCMD").text(reference)
        $("#dateCommande").text(date_commande)
        let divFooter = $("<div>").addClass("d-flex justify-content-between mt-5")

        // Libelles
        let libSousTotal = $("<p>").addClass("m-0").text('Sous-total')
        let libRemise = $("<p>").addClass("m-0").text("Remise")
        let libTotalPayer = $("<p>").addClass("m-0").text("Total à payer")
        let divLib = $("<div>").css({"color": "#000"}).addClass("fw-bold")
        divLib.append(libSousTotal, libRemise, libTotalPayer)

        // Valeurs
        let valSousTotal = $("<p>").addClass("m-0").text(montant.toLocaleString() + " GNF")
        let valRemise = $("<p>").addClass("m-0").text(reduction.toLocaleString() + " GNF")
        const total = montant - reduction
        let valTotalPayer = $("<p>").addClass("m-0").text(total.toLocaleString() + " GNF")
        let divVal = $("<div>").css({"color": "#000"})
        divVal.append(valSousTotal, valRemise, valTotalPayer)

        divFooter.append(divLib, divVal)
        $("#tabDetailsCommande").after(divFooter)

        // Créer les elements du code-barre
        //let barcodeContainer = $("<div>").attr("id", "barcode-container")
        //let barcode = $("<svg>").attr("id","barcode")
        //$("#barcode-container").append(barcode)



      }



    })
</script>


{% endblock %}