{% load static %}
  <!-- Sidebar wrapper starts -->
        <nav id="sidebar" class="sidebar-wrapper">

          <!-- App brand starts -->
          <div class="app-brand mb-3">
            <a href="{% url 'dashmin' %}">
              <img src="{% static 'assets/images/LogoMarbika.png' %}" class="logo img-fluid" alt="Logo Marbika" />
            </a>
          </div>
          <!-- App brand ends -->

          <!-- Sidebar menu starts -->
          <div class="sidebarMenuScroll">
            <ul class="sidebar-menu">
              <li class="{% if current_url_name == 'dashmin' %}active current-page{% endif %}">
                <a href="{% url 'dashmin' %}">
                  <i class="bi bi-laptop"></i>
                  <span class="menu-text">Analytics</span>
                </a>
              </li>
              <li class="{% if current_url_name == 'employe' %}active current-page{% endif %}">
                <a href="{% url 'employe' %}">
                  <i class="bi bi-people"></i>
                  <span class="menu-text">Employés</span>
                </a>
              </li>
              <li class="treeview {% if current_url_name in 'services prestations' %} active current-page{% endif %}">
                <a href="#">
                  <i class="bi bi-flower1"></i>
                  <span class="menu-text">Salon</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'services' %}" class="{% if current_url_name == 'services' %} active-sub {%endif%}">Services</a>
                  </li>
                  <li>
                    <a href="{% url 'prestations' %}" class="{% if current_url_name == 'prestations' %} active-sub {%endif%}">Prestations</a>
                  </li>
                </ul>
              </li>
              <li class="treeview {% if current_url_name in 'plats_boissons commandes' %} active current-page{% endif %}">
                <a href="#!">
                  <i class="bi bi-cup-straw"></i>
                  <span class="menu-text">Restaurant</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'plats_boissons' %}" class="{% if current_url_name == 'plats_boissons' %} active-sub {%endif%}">Plats & Boissons</a>
                  </li>
                  <li>
                    <a href="{% url 'commandes' %}" class="{% if current_url_name == 'commandes' %} active-sub {%endif%}">Commandes</a>
                  </li>
                </ul>
              </li>
              <li class="treeview {% if current_url_name in 'produits shop' %} active current-page{% endif %}">
                <a href="#!">
                  <i class="bi bi-gift"></i>
                  <span class="menu-text">Produits</span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a href="{% url 'produits' %}" class="{% if current_url_name == 'produits' %} active-sub {%endif%}">Produits</a>
                  </li>
                  <li>
                    <a href="{% url 'shop' %}" class="{% if current_url_name == 'shop' %} active-sub {%endif%}">Ventes</a>
                  </li>
                </ul>
              </li>
              <li class="{% if current_url_name == 'depenses' %} active current-page{% endif %}">
                <a href="{% url 'depenses' %}">
                  <i class="bi bi-send"></i>
                  <span class="menu-text">Dépenses</span>
                </a>
              </li>
              <li class="{% if current_url_name == 'location_reservation' %} active current-page{% endif %}">
                <a href="{% url 'location_reservation' %}">
                  <i class="bi bi-calendar2"></i>
                  <span class="menu-text">Location / Réservation</span>
                </a>
              </li>
              <li class="{% if current_url_name == 'performances' %} active current-page{% endif %}">
                <a href="{% url 'performances' %}">
                  <i class="bi bi-graph-up-arrow"></i>
                  <span class="menu-text">Performances</span>
                </a>
              </li>
              <li class="{% if current_url_name == 'gestion_piscine' %} active current-page{% endif %}">
                <a href="{% url 'gestion_piscine' %}">
                  <i class="bi bi-inbox"></i>
                  <span class="menu-text">Piscine</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- Sidebar menu ends -->

          <!-- Sidebar settings starts -->
          <div class="sidebar-settings gap-1 d-lg-flex d-none">
            <a href="profile.html" class="settings-icon" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip-danger" title="Profile">
              <i class="bi bi-person"></i>
            </a>
            <a href="tasks.html" class="settings-icon" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip-warning" title=" Tasks">
              <i class="bi bi-clipboard-check"></i>
            </a>
            <a href="widgets.html" class="settings-icon" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip-success" title=" Widgets">
              <i class="bi bi-box"></i>
            </a>
            <a href="settings.html" class="settings-icon" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip-info" title=" Settings">
              <i class="bi bi-gear"></i>
            </a>
            <a href="login.html" class="settings-icon" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip-secondary" title="Logout">
              <i class="bi bi-power"></i>
            </a>
          </div>
          <!-- Sidebar settings ends -->

        </nav>
  <!-- Sidebar wrapper ends -->