{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %} {{ page_title }} {% endblock %}
{% block main %}
<!-- Row starts -->
<div class="row gx-4">
  <div class="col-sm-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="custom-tabs-container">
          <ul class="nav nav-tabs" id="customTabLists" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="tab-salon" data-bs-toggle="tab" href="#salon" role="tab"
                aria-controls="salon" aria-selected="true">
                  <i class="bi bi-flower1"></i>
                  Salon
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="tab-restaurant" data-bs-toggle="tab" href="#restaurant" role="tab"
                aria-controls="restaurant" aria-selected="false" tabindex="-1">
                  <i class="bi bi-cup-straw"></i>
                  Restaurant
              </a>
            </li>
          </ul>
          <div class="tab-content" id="customTabContentLists">
            <div class="tab-pane fade show active" id="salon" role="tabpanel" aria-labelledby="tab-salon">
                <!-- Row starts -->
                <div class="row gx-4">
                  <div class="col-12 col-md">
                    <div class="card border border-secondary mb-4">
                      <div class="card-body text-center">
                        <h6 class="m-0">Semaine Passée</h6>
                        <h4 class="fw-bold my-2" id="totalSemainePasseeSalon">GNF</h4>
                        <div class="mb-2">
                        <!--<span class="badge bg-danger">8%</span>-->
                        </div>
                        <div class="small" id="numeroSemainePasseeSalon">
                          S-1
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md">
                    <div class="card border border-secondary mb-4">
                      <div class="card-body text-center">
                        <h6 class="m-0">Semaine En Cours</h6>
                        <h4 class="fw-bold my-2" id="totalSemaineEnCoursSalon">GNF</h4>
                        <div class="mb-2">
                        <!--<span class="badge bg-danger">8%</span>-->
                        </div>
                        <div class="small" id="numeroSemaineEnCoursSalon">
                          S-N°
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md">
                    <div class="card border border-secondary mb-4">
                      <div class="card-body text-center">
                        <h6 class="m-0">Total du Mois</h6>
                        <h4 class="fw-bold my-2" id="totalMoisSalon">GNF</h4>
                        <div class="mb-2">
                        <!--<span class="badge bg-danger">8%</span>-->
                        </div>
                        <div class="small" id="moisEnCoursSalon">
                          mois en cours
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md">
                    <div class="card border border-secondary mb-4">
                      <div class="card-body text-center">
                        <h6 class="m-0">Total Année</h6>
                        <h4 class="fw-bold my-2" id="totalAnneeSalon">GNF</h4>
                        <div class="mb-2">
                        <!--<span class="badge bg-danger">8%</span>-->
                        </div>
                        <div class="small" id="anneeEnCoursSalon">
                          année en cours
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Row ends -->
            </div>

            <div class="tab-pane fade" id="restaurant" role="tabpanel" aria-labelledby="tab-restaurant">
                <!-- Row starts -->
                <div class="row gx-4">
                  <div class="col-12 col-md">
                    <div class="card border border-secondary mb-4">
                      <div class="card-body text-center">
                        <h6 class="m-0">Semaine Passée</h6>
                        <h4 class="fw-bold my-2" id="totalSemainePasseeResto">GNF</h4>
                        <div class="mb-2">
                        <!--<span class="badge bg-danger">8%</span>-->
                        </div>
                        <div class="small" id="numeroSemainePasseeResto">
                          S-1
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md">
                    <div class="card border border-secondary mb-4">
                      <div class="card-body text-center">
                        <h6 class="m-0">Semaine En Cours</h6>
                        <h4 class="fw-bold my-2" id="totalSemaineEnCoursResto">GNF</h4>
                        <div class="mb-2">
                        <!--<span class="badge bg-danger">8%</span>-->
                        </div>
                        <div class="small" id="numeroSemaineEnCoursResto">
                          S-N°
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md">
                    <div class="card border border-secondary mb-4">
                      <div class="card-body text-center">
                        <h6 class="m-0">Total du Mois</h6>
                        <h4 class="fw-bold my-2" id="totalMoisResto">GNF</h4>
                        <div class="mb-2">
                        <!--<span class="badge bg-danger">8%</span>-->
                        </div>
                        <div class="small" id="moisEnCoursResto">
                          mois en cours
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md">
                    <div class="card border border-secondary mb-4">
                      <div class="card-body text-center">
                        <h6 class="m-0">Total Année</h6>
                        <h4 class="fw-bold my-2" id="totalAnneeResto">GNF</h4>
                        <div class="mb-2">
                        <!--<span class="badge bg-danger">8%</span>-->
                        </div>
                        <div class="small" id="anneeEnCoursResto">
                          année en cours
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Row ends -->
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Row ends -->
<!-- Row starts -->
<div class="row gx-4">
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Enregistrer une nouvelle Dépense</h5>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionSpecialTitle">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSpecialTitleTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSpecialTitleTwo" aria-expanded="false"
                                    aria-controls="collapseSpecialTitleTwo">
                                <div class="d-flex flex-column">
                                    <h5 class="m-0">Nouvelle Dépense</h5>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseSpecialTitleTwo" class="accordion-collapse collapse"
                             aria-labelledby="headingSpecialTitleTwo" data-bs-parent="#accordionSpecialTitle">
                            <div class="accordion-body">

                                <!-- Row starts -->
                                <form method="POST" action="{% url 'creer_depense' %}" class="row gx-4" id="depense-form">
                                    {% csrf_token %}
                                    <div class="col-xl-3 col-sm-4 col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="id_montant">Montant</label>
                                            {{ form.montant | as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-4 col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="id_motif">Motif</label>
                                            {{ form.motif | as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-4 col-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="id_section">Section</label>
                                            {{ form.section | as_crispy_field }}
                                        </div>
                                    </div>

                                    <!-- Zone d'affichage des messages -->
                                    <div id="response-message" class="alert bg-success text-white alert-dismissible fade" role="alert">

                                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                    </div>

                                    <div class="col-sm-12 col-12">
                                        <div class="d-flex gap-2 justify-content-center">
                                            <button type="submit" class="btn btn-primary me-3">Enregistrer</button>
                                            <button type="reset" class="btn btn-secondary">Annuler</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- Row ends -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Row starts -->
<div class="row gx-4">
  <div class="col-sm-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="custom-tabs-container">
          <ul class="nav nav-tabs" id="customTabHistorique" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="tab-historiqueSalon" data-bs-toggle="tab" href="#historiqueSalon" role="tab"
                aria-controls="historiqueSalon" aria-selected="true">
                  <i class="bi bi-flower1"></i>
                  Dépenses du Salon
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="tab-historiqueRestaurant" data-bs-toggle="tab" href="#historiqueRestaurant" role="tab"
                aria-controls="historiqueRestaurant" aria-selected="false" tabindex="-1">
                  <i class="bi bi-cup-straw"></i>
                  Dépenses du Restaurant
              </a>
            </li>
          </ul>
          <div class="tab-content" id="customTabContentHistorique">
            <div class="tab-pane fade show active" id="historiqueSalon" role="tabpanel" aria-labelledby="tab-historiqueSalon">
                <!-- Row starts -->
                <div class="row gx-4">
                  <div class="col-sm-12">
                    <!-- Table Dépenses Salon starts -->
                    <div class="table-responsive">
                        <table id="tableDepensesSalon" class="table align-middle truncate">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Motifs Dépenses</th>
                              <th>Montant</th>
                              <th>Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Contenu chargé via AJAX -->

                          </tbody>
                        </table>
                      </div>
                    <!-- Table Dépenses Salon ends -->
                  </div>
                </div>
                <!-- Row ends -->
            </div>

            <div class="tab-pane fade" id="historiqueRestaurant" role="tabpanel" aria-labelledby="tab-historiqueRestaurant">
                <!-- Row starts -->
                <div class="row gx-4">
                  <div class="col-sm-12">
                    <!-- Table Dépenses Salon starts -->
                    <div class="table-responsive">
                        <table id="tableDepensesRestaurant" class="table align-middle truncate">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Motifs Dépenses</th>
                              <th>Montant</th>
                              <th>Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- Contenu chargé via AJAX -->

                          </tbody>
                        </table>
                      </div>
                    <!-- Table Dépenses Salon ends -->
                  </div>
                </div>
                <!-- Row ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row ends -->

<!-- Custom JS files -->
{% block custom_js %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
{% endblock %}
<script>
    $(document).ready(function(){

        var tableDepensesSalon = $("#tableDepensesSalon");
        var tableDepensesRestaurant = $("#tableDepensesRestaurant");

        function getHistoriqueDepenses(tableDepenses, dataSrc){
            tableDepenses.DataTable({
                ajax: {
                    url: '/salon/depenses/list/',
                    dataSrc: dataSrc,
                },
                columns: [
                    {
                        data: null,
                        render: function(data, type, row, meta){
                            return meta.row + 1;
                          }
                    },
                    { data: 'motif' },
                    { data: 'montant' },
                    { data: 'date' }

                ],
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:&nbsp;",
                    lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                    info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable:     "Aucune donnée disponible dans le tableau",
                    aria: {
                        sortAscending:  ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });
        }

        getHistoriqueDepenses(tableDepensesSalon, 'data.salon')
        getHistoriqueDepenses(tableDepensesRestaurant, 'data.resto')

        function depense_semaine_mois_annee(){
           $.ajax({
               url: '/salon/depenses/calcul_depenses/',
               method: 'GET',
               dataType: 'json',
               success: function(res){
                   // Les Donnees du Salon
                   $("#totalSemaineEnCoursSalon").text(res.data.salon.total_semaine_en_cours)
                   $("#totalSemainePasseeSalon").text(res.data.salon.total_semaine_passe)
                   $("#totalMoisSalon").text(res.data.salon.total_mois_en_cours)
                   $("#totalAnneeSalon").text(res.data.salon.total_annee_en_cours)

                   // Les Donnees du Restaurant
                   $("#totalSemaineEnCoursResto").text(res.data.restaurant.total_semaine_en_cours)
                   $("#totalSemainePasseeResto").text(res.data.restaurant.total_semaine_passe)
                   $("#totalMoisResto").text(res.data.restaurant.total_mois_en_cours)
                   $("#totalAnneeResto").text(res.data.restaurant.total_annee_en_cours)

                   // Afficher les périodes de l'onglet Salon
                   $("#numeroSemainePasseeSalon").text("S-" + res.data.numero_semaine_passe);
                   $("#numeroSemaineEnCoursSalon").text("S-" + res.data.numero_semaine_en_cours);
                   $("#moisEnCoursSalon").text(res.data.nom_du_mois)
                   $("#anneeEnCoursSalon").text(res.data.annee_en_cours)

                   // Afficher les périodes de l'onglet Restaurant
                   $("#numeroSemainePasseeResto").text("S-" + res.data.numero_semaine_passe);
                   $("#numeroSemaineEnCoursResto").text("S-" + res.data.numero_semaine_en_cours);
                   $("#moisEnCoursResto").text(res.data.nom_du_mois)
                   $("#anneeEnCoursResto").text(res.data.annee_en_cours)
               },
               error: function(xhr){
                  console.log("error", xhr)
               }
           })
        }
        depense_semaine_mois_annee();

        $("#depense-form").on("submit", function(e){
            e.preventDefault();

            const actionUrl = $(this).attr('action');
            let formData = new FormData(this);

            $.ajax({
                url: actionUrl,
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(res){
                    if(res.success){
                        $('#response-message').text(res.msg);
                        $('#response-message').addClass('show').fadeIn();

                        // Refresh la table
                        tableDepensesSalon.ajax.reload();

                        // Recalculer les montants totaux des Dépenses
                        depense_semaine_mois_annee();

                        // Faire disparaître le message du success après 3 secondes (3000 ms)
                        setTimeout(function () {
                            $('#response-message').removeClass('show').fadeOut();
                        }, 3000);

                        $("#depense-form")[0].reset();
                    }
                },
                error: function(xhr){
                    const errorResponse = xhr.responseJSON ? xhr.responseJSON.msg : 'Erreur serveur.';
                    $('#response-message').text(`Erreur: ${errorResponse}`);
                    $('#response-message').removeClass('bg-success')
                    $('#response-message').addClass('bg-warning show').fadeIn();
                    // Faire disparaître après 3 secondes (3000 ms)
                    setTimeout(function () {
                        $('#response-message').removeClass('show').fadeOut();
                        $('#response-message').removeClass('bg-warning');
                    }, 3000);
                }
            })
        })
    })
</script>
<!-- Row ends -->
{% endblock %}

