{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block page_title %} {{ page_title }} {% endblock %}
{% block main %}

<!-- Row starts -->
<div class="row gx-4">
    <div class="col-sm-12">
        <div class="card mb-4">

            <div class="card-header">
                <h5 class="card-title">Prestation du Personnel</h5>
            </div>
            <div class="card-body">
                <div class="header-actions flex-wrap justify-content-space-between">
                    <div class="col-12 col-md-6">
                        <!-- Button trigger modal Start-->
                        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                            Nouveau Client <i class="bi bi-plus-lg"></i>
                        </button>
                        <!-- Button trigger modal End -->
                    </div>

                    <!-- Header list starts -->
                    <div class="d-flex gap-3 col-12 col-md-6 justify-content-end">
                        <div class="dropdown">
                            <a class="dropdown-toggle action-icon" href="#!" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="bi bi-receipt lh-1"></i>
                                <!-- Ce span affiche le nombre de prestations en attentes -->
                                <span class="count-label" id="nbPrestationsEnAttentes"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-300">
                                <h5 class="fw-semibold p-3 bg-secondary text-white">Prestations en attentes</h5>
                                <div class="scroll250 overflow-auto" id="dorpdownContainer">
                                    <!-- Remplie dynamiquement via ajax -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Header list starts -->
                </div>

                <!-- Zone d'affichage des messages -->
                <div id="response-message-service" class="alert text-white alert-dismissible fade"
                     role="alert">

                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>

                <!-- Modal Ajout Nouveau Client -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">
                                    Céer un nouveau Client
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Row starts -->
                                <div class="row gx-4">
                                    <div class="col-sm-12">
                                        <div class="mb-3 fw-bold">
                                            Informations sur le Client
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Nom et Prénoms</label>
                                            <input type="text" class="form-control"
                                                   placeholder="Entrez le nom et le prénom du client" id="fullname">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Téléphone</label>
                                            <input type="tel" class="form-control"
                                                   placeholder="Entrez le numéro de téléphone" id="telephoneNewClient">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-12">
                                        <div class="mb-3">
                                            <label class="form-label">Sexe</label>
                                            <div class="m-0">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="sexe"
                                                           id="inlineRadio1" value="1">
                                                    <label class="form-check-label"
                                                           for="inlineRadio1">Homme</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="sexe"
                                                           id="inlineRadio2" value="2">
                                                    <label class="form-check-label"
                                                           for="inlineRadio2">Femme</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row ends -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
                                    Annuler
                                </button>
                                <button type="button" id="submitClient" class="btn btn-primary me-5">
                                    Créer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal Ajout Nouveau Client -->
                <div class="accordion" id="accordionSpecialTitle">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSpecialTitleOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSpecialTitleOne" aria-expanded="true"
                                    aria-controls="collapseSpecialTitleOne">
                                <div class="d-flex flex-column">
                                    <h5 class="m-0">Prestations</h5>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseSpecialTitleOne" class="accordion-collapse collapse show"
                             aria-labelledby="headingSpecialTitleOne" data-bs-parent="#accordionSpecialTitle">
                            <div class="accordion-body">
                                <!-- Row starts -->
                                <div class="row">

                                    <!-- Liste Clients -->
                                    <div class="d-flex my-2 col-12 flex-wrap justify-content-between align-items-center">
                                        <div class="form-group">
                                            <label class="form-label" for="clients-select">Liste des Clients</label>
                                            <select class="form-select bg-secondary" id="clients-select"
                                                    aria-label="Default select example">
                                                <option value="">-- Selectionner un Client --</option>
                                            </select>
                                        </div>
                                        <div>
                                            <button id="printPrestation" class="btn btn-outline-secondary">
                                                Imprimer <i class="bi bi-printer"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Liste Clients-->

                                    <div class="col-12">
                                        <div class="table-outer">
                                            <div class="table-responsive">
                                                <table class="table truncate" id="tabCreatePrestations">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="7" class="pt-3 pb-3">
                                                            Choisissez les Services
                                                            {% csrf_token %}
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th>Services</th>
                                                        <th>Prestataires</th>
                                                        <th>Quantité</th>
                                                        <th>Prix U</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="tBodyCreatePrestations">
                                                    <!-- Le contenu est créé dynamiquement au click du Bouton Ajouter -->
                                                    <!-- qui ajoutera une nouvelle ligne de prestation -->

                                                    <tr id="ligneRemise">
                                                        <td>
                                                            <button class="btn btn-danger" id="ajouterLignePrestation">
                                                                Ajouter
                                                            </button>
                                                        </td>
                                                        <td colspan="4">
                                                            <div class="row justify-content-end">
                                                                <div class="col-auto">
                                                                    <label class="col-form-label"
                                                                           for="remise">Remise</label>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <input type="number" value="0" class="form-control"
                                                                           id="remise" min="0">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">&nbsp;</td>
                                                        <td>
                                                            <p class="m-0">Sous-total</p>
                                                            <p class="m-0">Remise</p>
                                                            <h5 class="mt-2 text-danger">Total</h5>
                                                        </td>
                                                        <td>
                                                            <p class="m-0" id="subtotalValue">GNF</p>
                                                            <p class="m-0" id="remiseValue">GNF</p>
                                                            <h5 class="mt-2 text-success" id="totalValue">GNF</h5>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="invoice-footer">
                                            <div class="text-end mt-3">
                                                <button id="submitPrestations" class="btn btn-primary me-2">Valider
                                                </button>
                                                <button id="cancel" class="btn btn-secondary">Annuler</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4 col-12 col-sm-12 col-xl-8">
        <div class="card-header">
            <h5 class="card-title">Liste des Prestations</h5>
        </div>
        <div class="card-body">
            <div class="table-outer">
                <div class="table-responsive">
                    <table class="table align-middle table-hover m-0 truncate" id="table-prestation">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Reference</th>
                            <th>Client</th>
                            <th>Montant Total</th>
                            <th>Remise</th>
                            <th>Net Payé</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--Contenu chargé via Ajax-->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Ticket -->
    <div class="col-xl-4 col-sm-12">
        <div class="card mb-4">
            <div class="d-flex justify-content-between card-header">
                <h5 class="card-title" id="cardTitle">Ticket</h5>
                <button id="btnPrintTicket" class="dt-button buttons-print" tabindex="0" aria-controls="customButtons"
                        type="button"><span>Print</span></button>
            </div>
            <div class="card-body scroll350 overflow-auto" id="bodyCardTicket">
                <div class="m-auto p-2" style="width: 303px; background-color: #fff" id="printTicket">
                    <div class="text-center" id="logoMarbika">
                        <img src="{% static 'assets/images/LogoMarbika.png' %}" alt="Logo Marbika" class="img-fluid m-2"
                             style="width: 100px">

                    </div>

                    <div class="infoEntreprise">
                        <p>Complexe Marbika, Sis à Nongo</p>
                        <p>Contact : 629 93 48 91</p>
                        <p>Email : complexemarbika@gmail.com</p>
                        <p class="slogan">"Votre bien-être est notre prioritée"</p>
                    </div>

                    <div id="infoPrestation" class="my-2 " style="color: #000;">
                        <p class="my-0 fw-bold lh-lg">Ref    : <span class="fw-normal" id="referencePS"></span></p>
                        <p class="my-0 fw-bold lh-lg">Gérant : <span class="fw-normal" id="gerant"></span></p>
                        <p class="my-0 fw-bold lh-lg">Date   : <span class="fw-normal" id="datePrestation"></span></p>
                    </div>
                    <table id="tabTicketPrestation" class="col-12 col-xl-12 mt-3" style="color: #000">
                        <thead style="border-top: 1px dashed black; border-bottom: 1px dashed black; color: #000;">
                        <tr>
                            <th class="border-end py-2 designationService">Désignation</th>
                            <th class="border-end py-2 qteService">Qte</th>
                            <th class="text-center">Prix</th>
                        </tr>
                        </thead>
                        <tbody id="prestationServices">

                        </tbody>
                    </table>
                    <!-- Zone d'affichage des Montants (Sous-total, remise, total)-->
                    <div class="col-12 d-flex justify-content-between mt-5" id="ticketFooter">
                        <div class="fw-bold text-black" id="divLib">
                            <p class="m-0" id="libSousTotal"></p>
                            <p class="m-0" id="libRemise"></p>
                            <p class="m-0" id="libNetPayer"></p>
                        </div>
                        <div class="text-black" id="divVal">
                            <p class="m-0" id="valSousTotal"></p>
                            <p class="m-0" id="valRemise"></p>
                            <p class="m-0" id="valNetPayer"></p>
                        </div>
                    </div>

                    <!-- Zone d'affichage du code-barre -->
                    <div id="barcode-container" class="my-5" hidden="hidden">
                        <svg id="barcode" class="col-12 col-xl-12"></svg>
                        <p>Print Date : <span id="printDate"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe id="printFrame" style="display:none;"></iframe>

    <!-- End Ticket-->
</div>
<!-- Row ends -->

<!-- Modal -->
<div class="modal fade" id="modalPrestation" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
     aria-labelledby="modalPrestationTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPrestationTitle">
                    Details Prestation
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bodyModalPrestation">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<button type="button" hidden="hidden" id="showModalPrestation" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#modalPrestation">
    Afficher Modal Prestation
</button>

{% endblock %}
<!-- Custom JS files -->
{% block custom_js %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script defer src="{% static 'assets/js/JsBarcode.all.min.js' %}"></script>
<!--<script defer src="{% static 'assets/select2/js/select2.min.js' %}"></script>-->
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>


<script>
$(document).ready(function(){

    function uuidv4() {
      return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c =>
        (+c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> +c / 4).toString(16)
      );
    }

    function printTicket(id_ticket, id_frame){
        //const iframe = document.getElementById("printFrame");
        const iframe = document.getElementById(id_frame);
        const doc = iframe.contentWindow.document;
        //const contenu = document.getElementById("printTicket").innerHTML;
        const contenu = document.getElementById(id_ticket).innerHTML;


        doc.open();
        doc.write(`
            <html>
            <head>
                <title>Impression</title>
                <style>
                    body {
                        font-family: sans-serif, monospace;
                        font-size: 11px;
                        width: 180px;
                        padding: 0;
                        margin: 0;
                        color: #000;
                    }
                    table {
                        width: 100%;
                        border-collapse: collapse;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                    th, td {
                        padding: 2px;
                        font-size: 12px;
                    }
                    th {
                        border-bottom: 1px dashed #000;
                    }
                    svg {
                        display: block;
                        margin: 10px auto 0;
                        width: 100%;
                    }
                    p {
                        margin: 2px 0;
                    }
                    #ticketFooter{
                        display: flex;
                        justify-content: space-between;
                    }
                    .infoEntreprise{
                        margin: 5px 0;
                    }
                    table th .designationService{
                        border-left: 1px solid #000;
                        background-color: red;
                    }
                    .qte{
                        text-align: center;
                    }
                </style>
            </head>
            <body>
                ${contenu}
            </body>
            </html>
        `);
        doc.close();

        setTimeout(() => {
            iframe.contentWindow.focus();
            iframe.contentWindow.print();
        }, 100);
    }

    // Recuperer les données dans la table de Prestations pour imprimer le ticket
    $("#printPrestation").on('click', function(){
        const tabPrestations = $("#tBodyCreatePrestations .rowPrestation");
        let tabLignesPrestation = []

        tabPrestations.each( function(){
            const $row = $(this);
            const service = $row.find(".selServices  option:selected").text()
            const idService = $row.find(".selServices  option:selected").val()
            const quantite = $row.find(".quantite").val()
            const prix = $row.find(".prix").val()

            tabLignesPrestation.push({
                id: idService,
                quantite,
                designation: service,
                prix
            })

        })

        if(tabLignesPrestation.length === 0) return;
        if(tabLignesPrestation[0].id === ''){
            alert("Veuillez sélectionner un Service")
            return
        }

        const uuid = uuidv4().split("-")[0]

        const printDate = new Date()

        const objPrestation = {
            reference: `PS-${uuid}-X`,
            date: printDate.toLocaleString(),
            gerant: "{{request.user.first_name}} {{request.user.last_name}}",
            services: tabLignesPrestation
        }

        // Envoyer les données au ticket pour impression

        $("#printDate").text(printDate.toLocaleString())
        const $prestationComponent = createTicketComponent(objPrestation);

        $('#bodyCardTicket').html($prestationComponent);
        $("#prestationServices").css({
          "border-bottom": "1px dashed #000"
        })

        const subtotalValue = $("#subtotalValue").text()
        const remiseValue = $("#remiseValue").text()
        const totalValue = $("#totalValue").text()
        ajouterFooterFacture(subtotalValue, remiseValue, totalValue, "data.reference")

        $("#barcode-container").attr("hidden", false);
        JsBarcode("#barcode", objPrestation.reference, {
            format: "CODE128",
            lineColor: "#000",
            width: 2,
            height: 40,
            displayValue: true,
            fontSize: 12,
            margin: 10
        });
    })

    $("#btnPrintTicket").on("click", function () {
        printTicket("printTicket", "printFrame")
    })


    function getCSRFToken(){
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
        return csrfToken ? csrfToken.value : "";
    }

    var table_prestation = $("#table-prestation").DataTable({
        ajax: {
            url: '/salon/get_prestations/',
            dataSrc: 'data',
        },
        columns: [
            {
                data: null,
                render: function(data, type, row, meta){
                    return meta.row + 1;
                  }
            },
            { data: 'reference' },
            { data: 'client' },
            { data: 'total' },
            { data: 'remise' },
            { data: 'net_paye' },
            { data: 'actions' },
        ],
         columnDefs: [{
            "targets": 0,
            "searchable": false,
            "orderable": false
        }],
        order: [],
        rowCallback: function(row, data, index){
            $('td:eq(0)', row).html(index + 1)
        },
    });

    // Transformer les listes de Prestataires en Select2
    var tabSelPresta = ["selPresta-1"]
    //let el = $("[data-selPresta='selPresta-1']").select2()
    //console.log("1er sel", el)

    // Calculer le montant de la Prestation
    function calculerMontant(){
        let subtotal = 0
        $(".rowPrestation").each(function(){
            let prix_service = Number($(this).find(".prix").val()) || 0
            let remise = Number($("#remise").val()) || 0
            let quantite = Number($(this).find(".quantite").val())

            subtotal += prix_service * quantite
            let total = subtotal - remise

            $("#subtotalValue").text(subtotal.toLocaleString() + " GNF")
            $("#remiseValue").text(remise.toLocaleString() + " GNF")
            $("#totalValue").text(total.toLocaleString() + " GNF")
        })
    }

    // Mettre a jour le montant total a chaque modification de valeur du champs Quantite
    $(document).on("input", ".quantite", function(){
        calculerMontant();
    })

    // Cette variable sera utilisée comme ID des Select de Service, elle est incrémentée à chaque nouvel ajout de ligne de prestation
    var idSelService = 0;

    // Recuperer les Services depuis la View 'prestations'
    let tabServices = []
    {% for service in services %}
        tabServices.push({
            "id": "{{ service.id }}",
            "designation": "{{ service.designation }}",
            "objService": "{{ service }}",
            "prix": "{{ service.prix_service }}",
        })
    {% endfor %}

    // Charger La liste de select des Services
    function fillSelectService(selectServices){
        selectServices.empty(); // Vider l'ancien contenu
        selectServices.append(new Option("-- Sélectionnez un Service --", "", true, true));

        tabServices.forEach(function(service){
            selectServices.append(new Option(service.designation, service.id));
        });
    }

    // Recuperer les Prestataires depuis la View 'prestations'
    const $selPrestataires = $(".selPrestataires").first()
    let tabPrestataires = []
    {% for prestataire in prestataires %}
        tabPrestataires.push({
            "full_name": "{{ prestataire.first_name }} {{ prestataire.last_name}}",
            "objPrestataire": "{{ prestataire }}",
            "id": "{{ prestataire.id }}",
        })
    {% endfor %}

    function fillPrestataireSelect(prestataireSelect){
        prestataireSelect.empty(); // Vider l'ancien contenu
        tabPrestataires.forEach(function(prestataire){
            prestataireSelect.append(new Option(prestataire.full_name, prestataire.id));
        });
    }

    // Va contenir l'id des lignes de prestations
    var tabRowId = [] // initialiser avec l'id de la ligne "tr" presente dès le chargement de la page

    // Charger le prix du service selon le service selectionné
    $("#tBodyCreatePrestations").on("change", ".selServices", function(){
        const idService = $(this).val()
        const $tr = $(this).closest("tr");
        const $idSelectedService = $(this).attr("id")

        // Retrouver l'objet de la ligne de service dans tabServices
        let serviceTrouve = tabServices.find(service => service.id == idService)

        const $inputPrix = $tr.find(".prix")
        $inputPrix.val(serviceTrouve.prix)

        // Mettre a jour les Montant total, le sous-total et la remise
        calculerMontant()

    })

    $("#remise").on("input", function(){
        // Mettre a jour les Montant total, le sous-total et la remise à chaque modification de la remise
        calculerMontant()
    })

    // Ajouter une nouvelle ligne de Prestation
    $("#ajouterLignePrestation").on("click", function(){
        const $tBodyCreatePrestations = $("#tBodyCreatePrestations")
        const $rowPrestation = $("<tr>").addClass("rowPrestation w-100")

        // Cellule de la liste des Services
        const $cellServices = $("<td>")
        const $selectServices = $("<select>").addClass("form-select selServices")
        idSelService += 1;
        $selectServices.attr("id", idSelService)
        $selectServices.attr("name", idSelService)
        $cellServices.append($selectServices)

        // Cellule de la liste des Prestataires
        const $cellPrestataires = $("<td>")
        const $selectPrestataires = $("<select>").addClass("form-select selPrestataires")
        $selectPrestataires.attr("multiple", true)
        $cellPrestataires.append($selectPrestataires)

        // Cellule Quantité
        const $cellQuantite = $("<td>")
        const $inputQuantite = $("<input>").attr("type", "number").addClass("form-control quantite")
        $inputQuantite.attr("min", 1)
        $inputQuantite.attr("value", 1)
        $cellQuantite.append($inputQuantite)

        // Cellule du champ de saisie du Prix
        const $cellPrix = $("<td>").addClass("w-25")
        const $divPrixContainer = $("<div>").addClass("input-group m-0")
        const $inputPrix = $("<input>").attr("type", "number").addClass("form-control prix")
        $inputPrix.attr("disabled", true)

        const $deviseSpanContainer = $("<span>").addClass("input-group-text")
        const $deviseSpan = $("<span>").text("GNF")
        $deviseSpanContainer.append($deviseSpan)

        $divPrixContainer.append($inputPrix)
        $divPrixContainer.append($deviseSpanContainer)
        $cellPrix.append($divPrixContainer)

        // Cellule du Bouton de suppression d'une ligne de prestation
        const $cellRemove = $("<td>")
        const $btnRemoveContainer = $("<div>").addClass("custom-icon-group")
        const $btnRemove = $("<button>").addClass("btn btn-outline-dark removeRow")
        const $removeIcon = $("<i>").addClass("bi bi-trash")
        $btnRemove.append($removeIcon)
        $btnRemoveContainer.append($btnRemove)
        $cellRemove.append($btnRemoveContainer)

        fillSelectService($selectServices)
        fillPrestataireSelect($selectPrestataires)
        $selectPrestataires.select2({
            placeholder: "Sélectionner un Prestataire",
             width: '100%', // Forcer 100% de la largeur du conteneur parent
        })


       // Ligne de Prestation devant contenir toutes les autres cellule de créées ci-dessus
       $rowPrestation.append($cellServices, $cellPrestataires, $cellQuantite, $cellPrix, $cellRemove)
       // Former l'id de la ligne en combinant le numero increment des Select au texte "row-"
       const idRow = "row-" + idSelService
       $rowPrestation.attr("id", idRow)
       tabRowId.push(idRow)
       $("#ligneRemise").before($rowPrestation)
    })

    // Supprimer une ligne de prestation
    $(document).on("click", ".removeRow", function(){
        const $currentRow = $(this).closest(".rowPrestation");
        const $rowId = $currentRow.attr("id")

        if(tabRowId.length >= 1){
            $currentRow.remove(); // Supprimer la ligne du DOM, "row du tableau"
            tabRowId = tabRowId.filter(id => id != $rowId)
        }

        setTimeout(()=>{
            calculerMontant()
        }, 300)
    })

    // Annuler
    $("#cancel").on("click", function(){
        location.reload()
    })

    // Initialisation de Select2 avec recherche
    function chargerClients(){
        const $select = $('#clients-select');
        $.ajax({
            url: '/salon/produits/list_clients/',
            method: 'GET',
            success: function(data){
                $select.empty(); // Vider l'ancien contenu
                 $select.append(new Option("-- Sélectionner un Client --", "", true, true));
                data.data.forEach(function(client){
                    $select.append(new Option(`${client.nom_complet} - ${client.telephone ? client.telephone : ""}`, client.id));
                });
                $select.select2({
                    allowClear: true
                });

                $select.trigger('change'); // Mettre à jour le Select2
            },
            error: function(err){
                console.log(err)
            }
        });
    }
    chargerClients();

    function submitPrestations(statut){
        let tabPrestations = []
        let prestataires = [];

        $(".rowPrestation").each(function(){
            let id_selService = $(this).find(".selServices").attr("id")
            let $currentSelect = $(this).find("select").attr("id");
            let id_service = $(this).find(".selServices").val()
            let prix_service = $(this).find(".prix").val()

            prestataires = [];
            prestataires = $(this).find(".selPrestataires").val()
            let quantite = $(this).find(".quantite").val()

            if(id_selService && id_service && prix_service && quantite){
                tabPrestations.push({
                    idService : id_service,
                    prixService : prix_service,
                    prestataire : prestataires,
                    idSelect: $currentSelect,
                    quantite: quantite,
                })
            }
        })

        if(prestataires.length <= 0){
            $("#response-message-service").text("Vous devez sélectionner au moins un Prestataire.")
            $('#response-message-service').addClass('bg-danger show').fadeIn();
                setTimeout(function(){
                    $("#response-message-service").removeClass('show bg-danger').fadeOut();
            }, 4500)
            return
        }

        let remise = $("#remise").val() || 0;
        let client = $("#clients-select").val();

        data = {
            prestations: tabPrestations,
            remise: remise,
            client: client,
            statut: statut
        }

        if(!data.client){
            $("#response-message-service").text("Veuillez sélectionner un Client.")
            $('#response-message-service').addClass('bg-danger show').fadeIn();
            setTimeout(function(){
                $("#response-message-service").removeClass('show bg-danger').fadeOut();
            }, 3500)
            return
        }

        const url = "/salon/prestations/add/";

        $.ajax({
          url: url,
          method: "POST",
          headers: { 'X-CSRFToken': getCSRFToken() },
          data: JSON.stringify(data),
          contentType: "application/json",
          success: function(res){
            $("#response-message-service").text(res.msg)
            $('#response-message-service').addClass('bg-success show').fadeIn();
            setTimeout(() => {
                $("#response-message-service").removeClass('show bg-success').fadeOut();

                // Refresh la page pour réinitialiser les champs
                $("#cancel").trigger('click')
            }, 3500)

          },
          error: function(err){
            $("#response-message-service").text(err.msg)
            $('#response-message-service').addClass('bg-danger show').fadeIn();
            setTimeout(function(){
                $("#response-message-service").removeClass('show bg-danger').fadeOut();
            }, 3500)
          }
        })
    }

    //
    $("#submitPrestations").on("click", function(){
        let statut = "confirmé"
        submitPrestations(statut)
    })


    // Creation d'un Nouveau Client
    $("#submitClient").on('click', function(){
        let fullname = $("#fullname").val()
        let telephoneClient = $("#telephoneNewClient").val()
        let sexe = $("input[name='sexe']:checked").val()

        const clientData = {
            fullname: fullname,
            telephone: telephoneClient,
            sexe: sexe
        }

        if(!clientData.fullname){
            alert("Vous devez définir un nom pour le Client");
            return;
        }
        if(!clientData.sexe){
            alert("Vous devez specifier le sexe du Client");
            return;
        }


        $.ajax({
            url: "/client/create/",
            method: "POST",
            data: JSON.stringify({ client: clientData }),
            contentType: "application/json",
            dataType: "json",
            headers: {"X-CSRFToken": getCSRFToken()},
            success: function(res){
                if(res.success){
                    alert(res.msg)

                    // Vider les Champs
                    $("#fullname").val('')
                    $("#telephoneClient").val('')
                    $("input[name='sexe']").prop("checked", false)

                    chargerClients(); // Refresh la liste de Client dans le Select
                }
            },
            error: function(err){
                alert(err.responseJSON.msg)
            }
        })
    }) // End Submit Client

    // Genere la data du ticket de prestation
    function genereTicketData(url){
        $.ajax({
            url: url,
            method: "GET",
            dataType: 'json',
            success: function(res){
                let data = res.data
                const $prestationComponent = createTicketComponent(data);

                $('#bodyCardTicket').html($prestationComponent);
                $("#prestationServices").css({
                  "border-bottom": "1px dashed #000"
                })

                ajouterFooterFacture(data.total, data.remise, data.net_paye, data.reference)

                $("#barcode-container").attr("hidden", false);
                JsBarcode("#barcode", res.data.reference, {
                    format: "CODE128",
                    lineColor: "#000",
                    width: 2,
                    height: 40,
                    displayValue: true,
                    fontSize: 16,
                    margin: 10
                });

            },
            error: function(err){
                console.log(err)
            },
        })
    }
    // Creation du Ticket de Prestation
    $(document).on("click", ".showTicket", function(e){
        e.preventDefault()

        const url = $(this).attr("href")
        genereTicketData(url)
    })

    $(document).on("click", ".showDetails", function(e){
        e.preventDefault()

        const url = $(this).attr("href")

        // Extraire id prestation
        let parts = url.split("/")
        let id_prestation = parts[4]

        $.ajax({
            url: url,
            method: "GET",
            dataType: 'json',
            success: function(res){
                if(res.success){
                    let data = res.data;

                    $("#showModalPrestation").trigger('click')

                    // Vider le contenu du modal avant l'ajout des nouveaux
                    $("#bodyModalPrestation").empty();

                    const $infoPrestation = $('<div>')
                    const $referenceDetailPresta = $('<p>', { class: 'lh-1', text: "Reference : " + data.reference })

                    const $nomClientDetailPresta = $('<p>', { class: 'lh-1', text: "Client : " + data.nom_client })
                    const $telephoneClientDetailPresta = $('<span>', {text: " - " + data.tel_client })
                    $nomClientDetailPresta.append($telephoneClientDetailPresta)

                    const $total = $('<p>', { class: 'lh-1', text: "Total : " + data.total.toLocaleString() + " GNF" })
                    const $remise = $('<p>', { class: 'lh-1', text: "Remise : " + data.remise.toLocaleString() + " GNF" })
                    const $netPaye = $('<p>', { class: 'lh-1', text: "Net Payé : " + data.net_paye.toLocaleString() + " GNF" })

                    $infoPrestation.append($referenceDetailPresta, $nomClientDetailPresta, $total, $remise, $netPaye)

                    // Création du conteneur principal
                    const $activityFeed = $('<div>', { class: 'activity-feed' });

                    data.services.forEach(service => {
                        // Créer des éléments **à chaque itération**
                        const $activityItem = $('<div>', { class: 'feed-item' });
                        const $designation = $('<span>', { class: 'feed-date pb-1 fw-bold', text: service.designation });

                        const $prestataireContainer = $('<div>', { class: 'mb-1' });

                         const $nomPrestataire = $('<p>', {
                            class: 'fw-normal',
                            text: service.prestataires.map(item=>(
                                ` ${item.first_name} ${item.last_name} - ${item.email}`
                            ))
                         });

                        const $prixService = $('<div>', {
                            class: 'text-primary',
                            text: service.quantite + " x " + service.prix.toLocaleString() + " GNF"
                        });

                        $prestataireContainer.append($nomPrestataire);
                        $activityItem.append($designation, $prestataireContainer, $prixService);
                        $activityFeed.append($activityItem);
                    });

                    // Ajouter tous les éléments une seule fois
                    $("#bodyModalPrestation").append($infoPrestation, $activityFeed);

                }
            },
            error: function(err){

            },
        }) // End Get Prestation Details
    }) // End Construction de Ticket de prestations

    function createTicketComponent(prestation) {

        $("#referencePS").text(prestation.reference)
        $("#datePrestation").text(prestation.date)
        $("#gerant").text(prestation.gerant)

        if (Array.isArray(prestation.services)) {
            $("#prestationServices").empty()
            prestation.services.forEach(item => {
                const $row = $('<tr>').append(
                    $('<td>', { class: ' py-1', text: item.designation }),
                    $('<td>', { class: ' py-1 qte text-center', text: item.quantite }),
                    $('<td>', { class: ' text-center', text: item.prix.toLocaleString() + " GNF" }),
                );
                $("#prestationServices").append($row);
            });
        }

        const printDate = new Date()
        $("#printDate").text(printDate.toLocaleString())

    } // End createTicketComponent

    function ajouterFooterFacture(total, remise, netPayer, reference){
        let divFooter = $("#ticketFooter")

        $("#libSousTotal").text("Sous-total")
        $("#libRemise").text("Remise")
        $("#libNetPayer").text("Total à payer")
        $("#valSousTotal").text(total.toLocaleString() + " GNF")
        $("#valRemise").text(remise.toLocaleString() + " GNF")
        $("#valNetPayer").text(netPayer.toLocaleString() + " GNF")
    }

    function createDropdownItem(id, reference, montant, client){
        const $dorpdownContainer = $("#dorpdownContainer")

        const $dropdownItem = $("<div>", { class: 'dropdown-item d-flex justify-content-between align-items-center' });
        const $content = $("<div>", { class: 'py-2' });
        const $reference = $("<p>", {class: 'p-0 m-0'})
        const $montant = $("<p>", {class: 'p-0 m-0'})
        const $client = $("<p>", {class: 'p-0 m-0'})
        const $btnContainer = $("<div>", {class: 'd-flex gap-2'});
        const $btnConfirmer = $("<button>", { class: 'btn btn-outline-success confirm', id: id });
        const $btnPrint = $("<button>", { class: 'btn btn-info printPrestationEnAttente', 'data-idPresta': id });
        const $checkIcon = $("<i>", {class: 'bi bi-check-square'})
        const $printIcon = $("<i>", {class: 'bi bi-printer'})

        $reference.text(reference)
        $montant.text(montant)
        $client.text(client)

        $btnPrint.append($printIcon)
        $btnConfirmer.append($checkIcon)
        $btnContainer.append($btnConfirmer, $btnPrint)

        $content.append($reference, $client, $montant)
        $dropdownItem.append($content, $btnContainer)
        $dorpdownContainer.append($dropdownItem)
    }

    function loadPrestationEnAttentes(){
        $.ajax({
            url: '/salon/prestations_en_attentes/',
            method: "GET",
            dataType: 'json',
            success: function(res){
                if(res.success){
                    const prestations = res.data.liste_prestations

                   $("#nbPrestationsEnAttentes").text(res.data.nb_prestations)
                   prestations.forEach(prestation => {

                    createDropdownItem(prestation.id, prestation.reference, prestation.montant.toLocaleString() + " GNF", prestation.nom_client)
                   })
                }
            },
            error: function(err){
                console.log(err)
            },
        })
    }
    loadPrestationEnAttentes()

    // Confirmer Prestation en Attente
    $("#dorpdownContainer").on("click", ".confirm", function(e){
        const id_prestation = $(this).attr("id")
        const data = { id_prestation: id_prestation }
        const url = "/salon/prestations/confirmer_prestation/"
        $.ajax({
          url: url,
          method: "POST",
          headers: { 'X-CSRFToken': getCSRFToken() },
          data: JSON.stringify(data),
          contentType: "application/json",
          success: function(res){
            $("#response-message-service").text(res.msg)
            $('#response-message-service').addClass('bg-success show').fadeIn();
            setTimeout(() => {
                $("#response-message-service").removeClass('show bg-success').fadeOut();
            }, 3500)

            table_prestation.ajax.reload();

            loadPrestationEnAttentes()
          },
          error: function(err){
            $("#response-message-service").text(err.msg)
            $('#response-message-service').addClass('bg-danger show').fadeIn();
            setTimeout(function(){
                $("#response-message-service").removeClass('show bg-danger').fadeOut();
            }, 3500)
          }
        })
    })

    // Imprimer le ticket de prestation en attente
    $("#dorpdownContainer").on("click", ".printPrestationEnAttente", function(e){
        e.preventDefault()
        id_prestation = $(this).attr('data-idPresta')
        const url = `/salon/prestations/details/${id_prestation}`;

        genereTicketData(url)
    })

})

</script>
{% endblock %}