{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block page_title %} {{ page_title }} {% endblock %}
{% block main %}
<!-- Row starts -->
<div class="row gx-4">
  <div class="col-sm-12">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title">Prestation du Personnel</h5>
      </div>
      <div class="card-body">
        <div class="accordion" id="accordionSpecialTitle">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingSpecialTitleOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSpecialTitleOne" aria-expanded="true"
                aria-controls="collapseSpecialTitleOne">
                <div class="d-flex flex-column">
                  <h5 class="m-0">Prestations</h5>
                </div>
              </button>
            </h2>
            <div id="collapseSpecialTitleOne" class="accordion-collapse collapse show"
              aria-labelledby="headingSpecialTitleOne" data-bs-parent="#accordionSpecialTitle">
              <div class="accordion-body">
                <!-- Row starts -->
                <form method="POST" action="{% url 'add_prestations' %}" class="row gx-4" id="prestation-form">
                    {% csrf_token %}
                    <div class="col-xl-3 col-sm-4 col-12">
                        <div class="mb-3">
                            <label class="form-label" for="id_service">Selectionnez un Service</label>
                            {{ form.service | as_crispy_field }}
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-4 col-12">
                        <div class="mb-3">
                            <label class="form-label" for="id_fait_par">Prestateur</label>
                            {{ form.fait_par | as_crispy_field }}
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-4 col-12">
                        <div class="mb-3">
                            <label class="form-label" for="id_montant_a_payer">Montant a Payer</label>
                            {{ form.montant_a_payer | as_crispy_field }}
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-4 col-12">
                        <div class="mb-3">
                            <label class="form-label" for="id_montant_reduit">Reduction</label>
                            {{ form.montant_reduit | as_crispy_field }}
                        </div>
                    </div>

                    <!-- Zone d'affichage des messages -->
                    <div id="response-message" class="alert bg-success text-white alert-dismissible fade" role="alert">
                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                    </div>

                    <div class="col-sm-12 col-12">
                        <button type="submit" class="btn btn-primary">Créer</button>
                    </div>
                </form>
                <!-- Row ends -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="card mb-4">
        <div class="card-header">
            <h5 class="card-title">Liste des Prestations</h5>
        </div>
        <div class="card-body">
            <div class="table-outer">
                <div class="table-responsive">
                    <table class="table align-middle table-hover m-0 truncate" id="table-prestation">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Services</th>
                            <th>Prestateurs</th>
                            <th>Montant</th>
                            <th>Reduction</th>
                            <th>Net Payé</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prestation in prestation_list %}
                        <tr>
                            <td></td>
                            <td>
                                {{ prestation.service }}
                            </td>
                            <td>{{ prestation.fait_par }}</td>
                            <td>{{ prestation.montant_a_payer | currency }}</td>
                            <td>{{ prestation.montant_reduit | currency }}</td>
                            <td class="text-primary">{{ prestation.montant_paye | currency }} GNF</td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="#"><i class="bi bi-pencil"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row ends -->

<!-- Custom JS files -->
{% block custom_js %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
{% endblock %}
<script>
    $(document).ready(function(){

        $("#table-prestation").DataTable({
            language: {
                processing: "Traitement en cours...",
                search: "Rechercher&nbsp;:&nbsp;",
                lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                loadingRecords: "Chargement en cours...",
                zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable:     "Aucune donnée disponible dans le tableau",
                aria: {
                    sortAscending:  ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            },
            "columnDefs": [{
                "targets": 0,
                "searchable": false,
                "orderable": false
            }],
            "order": [],
            "rowCallback": function(row, data, index){
                $('td:eq(0)', row).html(index + 1)
            },

        });

        $("#id_service").on('change',function(){
            const service_id = $(this).val();
            const url = "{% url 'get_prix_service' 0 %}".replace('0', service_id);
            $.ajax({
                url: url,
                method: "GET",
                success: function(res){
                    $("#id_montant_a_payer").val(res.prix_service)
                },
                error: function(err){
                    $("#response-message").addClass('bg-danger show').fadeIn();
                    $("#response-message").text(err.responseJSON.error);
                    $("#response-message").removeClass('bg-success');

                    $("#id_montant_a_payer").val("")

                    setTimeout(function () {
                        $("#response-message").removeClass('show').fadeOut();
                    }, 3000);
                }
            })
        });

        function getCSRFToken(){
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
            return csrfToken ? csrfToken.value : "";
        }

        $("#prestation-form").submit(function(e){
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                method: "POST",
                headers: { 'X-CSRFToken': getCSRFToken() },
                data: $(this).serialize(),
                success: function(res){
                    $("#response-message").text(res.msg);
                    $("#response-message").addClass('show');
                    // Reinitialiser le formulaire
                    $("#prestation-form")[0].reset();

                    // Ajouter le nouvel Employe a la table
                  var newRow = `
                      <tr>
                          <td></td>
                          <td>${res.prestation.service}</td>
                          <td>${res.prestation.prestateur}</td>
                          <td>${res.prestation.montant}</td>
                          <td>${res.prestation.reduction}</td>
                          <td>${res.prestation.net_paye}</td>
                          <td>
                            <a class="btn btn-danger btn-sm" href="#"><i class="bi bi-pencil"></i>
                            </a>
                          </td>
                      </tr>
                  `
                  // Ajouter la nouvelle ligne a la table sans recharger la page
                  $("#table-prestation tbody").prepend(newRow);

                   setTimeout(function () {
                    $("#response-message").removeClass('show').fadeOut();
                   }, 3000);
                },
                error: function(err){
                    //$("#id_montant_a_payer").val("")
                },
            })
        })

    })
</script>
{% endblock %}