{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %} {{ page_title }} {% endblock %}
{% block main %}
<div class="row gx-4">
  <div class="col-sm-12">
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-title">Créer une nouvelle Categorie ou un nouveau Service</h5>
        </div>
        <div class="card-body">
          <div class="custom-tabs-container">
            <ul class="nav nav-tabs" id="customTab3" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab-oneAA" data-bs-toggle="tab" href="#oneAA" role="tab"
                  aria-controls="oneAA" aria-selected="true">
                  Categorie</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab-twoAA" data-bs-toggle="tab" href="#twoAA" role="tab"
                  aria-controls="twoAA" aria-selected="false" tabindex="-1"> Service</a>
              </li>

            </ul>
            <div class="tab-content" id="customTabContent3">
              <div class="tab-pane fade show active" id="oneAA" role="tabpanel" aria-labelledby="tab-oneAA">
                <div class="p-3">
                  <h1 class="fs-2 fw-bold text-primary">
                    Créer une Categorie
                  </h1>
                  <div class="col-lg-12 mx-auto">
                    <form method="POST" action="{% url 'add_categorie' %}" id="category-form">
                      {% csrf_token %}
                      <div class="d-flex col-xl-6 col-sm-6 col-12 align-items-center flex-wrap">
                          <div class="mb-3">
                              <label class="form-label" for="id_nom_categorie">Catégorie</label>
                              {{ categorie_form.nom_categorie | as_crispy_field }}
                          </div>
                          <div class="col-sm-3 col-12 self-align-center ms-2">
                            <button type="submit" class="btn btn-primary mb-2">Créer</button>
                          </div>
                      </div>
                      <!-- Zone d'affichage des messages -->
                      <div id="response-message" class="alert bg-success text-white alert-dismissible fade" role="alert">

                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                          aria-label="Close"></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="twoAA" role="tabpanel" aria-labelledby="tab-twoAA">
                <div class="p-3">
                  <h1 class="fs-2 fw-bold text-primary">
                    Créer un Services
                  </h1>
                  <div class="col-lg-12 mx-auto">
                    <form method="POST" action="{% url 'add_service' %}" id="service-form">
                      {% csrf_token %}
                      <div class="col-xl-12 col-sm-12 col-12">
                          <div class="col-xl-6 col-sm-4 col-12">
                              <div class="mb-3">
                                <label class="form-label" for="id_designation">Nom du Service</label>
                                <div id="div_id_designation" class="mb-3">
                                    <input type="text" name="designation" maxlength="120" class="textinput form-control" required="" id="id_designation">
                                </div>
                             </div>
                          </div>
                          <div class="col-xl-6 col-sm-4 col-12">
                              <div class="mb-3">
                                <label class="form-label" for="prix_service">Prix service</label>
                                <div id="div_prix_service" class="mb-3">
                                    <input type="number" name="prix_service" class="textinput form-control" required="" id="prix_service">
                                </div>
                             </div>
                          </div>

                          <!-- Liste Catégories -->
                          <div class="col-xl-6 col-sm-4 col-12">
                              <div class="mb-3">
                                  <label class="form-label" for="categorie-service">Sélectionnez une Catégorie</label>
                                  <select class="select form-select" id="categorie-service"
                                            aria-label="Default select example">
                                  </select>
                              </div>
                          </div>
                          <div class="col-sm-3 col-12 self-align-center ms-2 mt-4">
                            <button type="submit" class="btn btn-primary mb-2">Créer</button>
                          </div>
                      </div>
                      <!-- Zone d'affichage des messages -->
                      <div id="response-message-service" class="alert bg-success text-white alert-dismissible fade" role="alert">

                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                          aria-label="Close"></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

<!--      Liste Services et Categories-->
      <div class="col-sm-12">
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title">Liste Services et Categories</h5>
          </div>
          <div class="card-body">
            <div class="custom-tabs-container">
              <ul class="nav nav-tabs" id="customTabServiceList" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="tab-tabCat" data-bs-toggle="tab" href="#tabCat" role="tab"
                    aria-controls="tabCat" aria-selected="true">Categories</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="tab-tabServ" data-bs-toggle="tab" href="#tabServ" role="tab"
                    aria-controls="tabServ" aria-selected="false" tabindex="-1">Services</a>
                </li>
              </ul>
              <div class="tab-content" id="customTabService">
                <div class="tab-pane fade show active" id="tabCat" role="tabpanel" aria-labelledby="tab-tabCat">
                  <div class="p-3">
                    <h1 class="fs-2 fw-bold text-primary">
                      Liste Categories
                    </h1>
                    <div class="col-lg-6 ">
                      <div class="card-body">
                        <div class="table-outer">
                            <div class="table-responsive p-4">
                                <table class="table align-middle table-hover m-0 truncate" id="table-category">
                                    <thead>
                                    <tr>
                                        <th>Categories</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Charger via Ajax -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="tabServ" role="tabpanel" aria-labelledby="tab-tabServ">
                  <div class="p-3 ">
                    <h1 class="fs-2 fw-bold text-primary">
                      Liste Services
                    </h1>
                    <div class="col-lg-6">
                      <div class="card-body">
                        <div class="table-outer">
                            <div class="table-responsive p-4">
                                <table class="table align-middle table-hover m-0 truncate" id="table-service">
                                    <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Catégorie</th>
                                        <th>Prix</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Données chargées via Ajax -->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

  </div>
</div>

<!-- Bouton modal Update Service-->
<button type="button" id="modalUpdateService" class="btn btn-primary" hidden="hidden" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></button>
<!-- Modal Update Service -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    Céer un nouveau Client
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Row starts -->
                <form method="POST" action="{% url 'update_service' %}" id="formUpdateService">
                      {% csrf_token %}
                      <div class="col-xl-12 col-sm-12 col-12">
                          <div class="col-12">
                              <div class="mb-3">
                                <label class="form-label" for="id_designation">Nom du Service</label>
                                <div id="div_designation" class="mb-3">
                                    <input type="text" name="id_service_up"  id="id-service-up" hidden="hidden">
                                    <input type="text" name="designation" maxlength="120" class="textinput form-control" required="" id="designation-up">
                                </div>
                             </div>
                          </div>
                          <div class="col-12">
                              <div class="mb-3">
                                <label class="form-label" for="prix_service">Prix service</label>
                                <div id="div_prix_service-up" class="mb-3">
                                    <input type="number" name="prix_service" class="textinput form-control" required="" id="prix_service-up">
                                </div>
                             </div>
                          </div>

                          <!-- Liste Catégories -->
                          <div class="col-12">
                              <div class="mb-3">
                                  <label class="form-label" for="categorie-service-up">Sélectionnez une Catégorie</label>
                                  <select class="select form-select" id="categorie-service-up"
                                            aria-label="Default select example">
                                  </select>
                              </div>
                          </div>
                          <div class="col-sm-3 col-12 self-align-center ms-2 mt-4">
                            <button type="submit" class="btn btn-primary mb-2">Valider</button>
                          </div>
                      </div>
                      <!-- Zone d'affichage des messages -->
                      <div id="update-response" class="alert bg-success text-white alert-dismissible fade" role="alert">

                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                          aria-label="Close"></button>
                      </div>
                    </form>
                <!-- Row ends -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal Update Service -->

{% block custom_js %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
{% endblock %}

<script>
    $(document).ready(function(){
        // Variable de la lib Notyf pour les Toasts
        var notyf = new Notyf();

      // Gestion Categories
      var tableCategory =  $("#table-category").DataTable({
          ajax: '/salon/categorie/get_categories/',
          columns: [
            { data: 'category' },
            { data: 'action' },
          ],
          language: {
              processing: "Traitement en cours...",
              search: "Rechercher&nbsp;:&nbsp;",
              lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
              info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
              infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
              loadingRecords: "Chargement en cours...",
              zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
              emptyTable:     "Aucune donnée disponible dans le tableau",
              aria: {
                  sortAscending:  ": activer pour trier la colonne par ordre croissant",
                  sortDescending: ": activer pour trier la colonne par ordre décroissant"
              }
          }
      });

      function getCSRFToken(){
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
            return csrfToken ? csrfToken.value : "";
      }

      $("#category-form").on("submit", function(e){
        e.preventDefault();

        const actionUrl = $(this).attr("action");

        const formData = {
          category: $("#id_nom_categorie").val().trim()
        }

        if(!formData.category){
          $("#response-message").text("Tous les champs sont obligatoires");
        }

        $.ajax({
          url: actionUrl,
          method: 'POST',
          headers: { 'X-CSRFToken': getCSRFToken() },
          data: JSON.stringify(formData),
          contentType: 'application/json',
          dataType: 'json',
          success: function(res){
            $('#response-message').text(res.msg);
            $('#response-message').addClass('show').fadeIn();

              // Recharger la table Category pour avoir les nouvelles DATA
              tableCategory.ajax.reload();

            // Faire disparaître après 3 secondes (3000 ms)
            setTimeout(function () {
                $('#response-message').removeClass('show').fadeOut();
            }, 3000);

            // Ajouter la categorie dans le Select de Categorie lors de la creation de Service
            chargerCategories($('#categorie-service'))

            $("#category-form")[0].reset();

          },
          error: function(xhr){
              const errorResponse = xhr.responseJSON ? xhr.responseJSON.error : 'Erreur serveur.';
              $('#response-message').text(`Erreur: ${errorResponse}`);
              $('#response-message').removeClass('bg-success').addClass('bg-warning').addClass('show').fadeIn();
              // Faire disparaître après 3 secondes (3000 ms)
              setTimeout(function () {
                  $('#response-message').removeClass('show').fadeOut();
                  $('#response-message').removeClass('bg-warning');
              }, 3000);
          },
        })
      })


      // Gestion Services
      var tableService = $("#table-service").DataTable({
          ajax: '/salon/services/get_services/',
          columns: [
            { data: 'designation' },
            { data: 'categorie' },
            { data: 'prix_service' },
            { data: 'actions' },
          ],
          language: {
              processing: "Traitement en cours...",
              search: "Rechercher&nbsp;:&nbsp;",
              lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
              info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
              infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
              loadingRecords: "Chargement en cours...",
              zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
              emptyTable:     "Aucune donnée disponible dans le tableau",
              aria: {
                  sortAscending:  ": activer pour trier la colonne par ordre croissant",
                  sortDescending: ": activer pour trier la colonne par ordre décroissant"
              }
          }
      });
      $("#service-form").on('submit', function(e){
        e.preventDefault();

        const formData = {
            designation: $("#id_designation").val().trim(),
            categorie: $("#categorie-service").val().trim(),
            prix_service: $("#prix_service").val().trim(),
        }

        if(!formData.designation || !formData.categorie){
            $("#response-message-service").text("Tous les champs sont obligatoires");
            $("#response-message-service").addClass('show');
            // Faire disparaître après 3 secondes (3000 ms)
            setTimeout(function () {
                 $("#response-message-service").removeClass('show').fadeOut();
            }, 3000);
        }
        $.ajax({
            url: $(this).attr('action'),
            method: 'POST',
            headers: { 'X-CSRFToken': getCSRFToken() },
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function(res){
                if(res.success){
                  notyf.success({
                      message: res.msg,
                      duration: 3000,
                      position: {
                        x: 'center',
                        y: 'top'
                      }
                    })
                  $("#service-form")[0].reset();

                  // Recharger la table Service
                  tableService.ajax.reload();

                }

            },
            error: function(err){
                $("#response-message-service").text(err.error);
                $("#response-message-service").removeClass('bg-success');
                $("#response-message-service").addClass('bg-danger').addClass('show');

                setTimeout(function () {
                     $("#response-message-service").removeClass('show').fadeOut();
                }, 3000);
            },

        })
      })

      // Get Service by id
      $(document).on("click", ".update-service", function(){
        serviceId = $(this).attr("id")

        $.ajax({
            url: '/salon/services/get/',
            method: 'GET',
            data: { id: serviceId },
            success: function(data){

                $("#designation-up").val(data.data.designation)
                $("#prix_service-up").val(data.data.prix_service)
                $("#id-service-up").val(data.data.id)

                chargerCategories($('#categorie-service-up'), data.data.id_category);

                $("#modalUpdateService").trigger('click')

            },
            error: function(err){
                console.log("Error:",err)
            }

        })
      })

      // Update Service
      $("#formUpdateService").on('submit', function(e){
        e.preventDefault();

        console.log("id serv", $("#id-service-up").val())

        const formData = {
            idService: $("#id-service-up").val().trim(),
            designation: $("#designation-up").val().trim(),
            categorie: $("#categorie-service-up").val().trim(),
            prix_service: $("#prix_service-up").val().trim(),
        }

        if(!formData.designation || !formData.categorie){
            $("#update-response").text("Tous les champs sont obligatoires");
            $("#update-response").addClass('show');
            // Faire disparaître après 3 secondes (3000 ms)
            setTimeout(function () {
                 $("#update-response").removeClass('show').fadeOut();
            }, 3000);
        }
        $.ajax({
            url: $(this).attr('action'),
            method: 'POST',
            headers: { 'X-CSRFToken': getCSRFToken() },
            data: JSON.stringify(formData),
            contentType: "application/json",
            success: function(res){
                if(res.success){
                  $("#update-response").text(res.msg);
                  $("#update-response").addClass('show').fadeIn();
                  $("#formUpdateService")[0].reset();

                  // Recharger la table Service
                  tableService.ajax.reload();

                  setTimeout(function () {
                       $("#update-response").removeClass('show').fadeOut();
                  }, 3000);
                }

            },
            error: function(err){
                $("#response-message-service").text(err.error);
                $("#response-message-service").removeClass('bg-success');
                $("#response-message-service").addClass('bg-danger').addClass('show').fadeIn();

                setTimeout(function () {
                     $("#response-message-service").removeClass('show').fadeOut();
                }, 5000);
            },

        })
      })

      function chargerCategories(idSelect, selectedCategorie=""){
        const $select = idSelect;
        $.ajax({
            url: '/salon/categorie/get_categories/',
            method: 'GET',
            success: function(data){
                $select.empty(); // Vider l'ancien contenu
                 $select.append(new Option("-- Sélectionnez une Catégorie --", "", true, true));
                data.data.forEach(function(category){
                    $select.append(new Option(category.category, category.id));
                });

                if(selectedCategorie !=""){
                    $select.val(String(selectedCategorie))
                }
            },
            error: function(err){
                console.log(err)
            }
        });
      }
      chargerCategories($('#categorie-service'));

    })
</script>

{% endblock %}