{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %} {{ page_title }} {% endblock %}
{% block main %}
<!-- Row starts -->
<div class="row gx-4">
    {% csrf_token %}

    <div class="d-flex flex-row flex-wrap gap-2 align-items-center card">
        <div class="col-sm-4 col-12">
            <!-- Card starts -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="m-0">
                        <label class="form-label" for="date_debut">Du</label>
                        <div class="input-group">
                            <span class="input-group-text">
                              <i class="bi bi-calendar4"></i>
                            </span>
                            <input type="text" id="date_debut" class="form-control datepicker"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card ends -->
        </div>
        <div class="col-sm-4 col-12">
            <!-- Card starts -->
            <div class="card mb-4">
                <div class="card-body">
                    <div class="m-0">
                        <label class="form-label" for="date_fin">Au</label>
                        <div class="input-group">
                            <span class="input-group-text">
                              <i class="bi bi-calendar4"></i>
                            </span>
                            <input type="text" id="date_fin" class="form-control datepicker"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card ends -->
        </div>
        <button type="button" class="btn btn-outline-primary" id="btnDateFilter">
            Appliquer
        </button>
    </div>

    <div class="col-sm-12 mt-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Performance des Employés</h5>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                Attribuer les montants de prestations
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="row gx-4">
                                    <div class="col-12 col-md-6 mb-4">
                                        <label class="form-label" for="prestations">Selectionnez une prestation</label>
                                        <select class="form-select p-2" id="prestations"
                                                aria-label="Default select example">
                                            <!-- Contenu chargé via Ajax-->
                                        </select>
                                    </div>
<!--                                    <div class="col-12 col-md-6 mb-4">-->
<!--                                        <label class="form-label" for="servicesPrestation">Selectionnez le-->
<!--                                            service</label>-->
<!--                                        <select class="form-select p-2" id="servicesPrestation"-->
<!--                                                aria-label="Default select example">-->
<!--                                            &lt;!&ndash; Contenu chargé via Ajax&ndash;&gt;-->
<!--                                        </select>-->
<!--                                    </div>-->
                                    <div>
                                        <p>Montant Total : <span id="montantTotalPrestation" class="text-primary"></span></p>
                                    </div>

                                </div>
                                <div class="table-outer">
                                    <div class="table-responsive">
                                        <table class="table align-middle table-hover m-0 truncate">
                                            <thead>
                                            <tr>
                                                <th>Service</th>
                                                <th>Employee</th>
                                                <th>Montant à attribuer</th>
                                            </tr>
                                            </thead>
                                            <tbody id="attributionTBody">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="d-flex col-12 justify-content-end">
                                    <button class="btn btn-success m-2" id="validerAttribution">Valider</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong>
                                It is hidden by default, until the collapse plugin
                                adds the appropriate classes that we use to style
                                each element. These classes control the overall
                                appearance, as well as the showing and hiding via
                                CSS transitions. You can modify any of this with
                                custom CSS or overriding our default variables. It's
                                also worth noting that just about any HTML can go
                                within the <code>.accordion-body</code>, though the
                                transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                The Elite admin dashboard is the best choice for building powerful, modern web
                                applications.
                                It is built with the latest Bootstrap 5 and features a unique and comprehensive UI kit.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Row ends -->
{% endblock %}
<!-- Custom JS files -->
{% block custom_js %}
<!-- Date Range JS -->
<script src="{% static 'assets/js/modernizr.js' %}"></script>
<script src="{% static 'assets/vendor/daterange/daterange.js' %}"></script>
<script src="{% static 'assets/vendor/daterange/custom-daterange.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function(){

        function getCSRFToken(){
            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]');
            return csrfToken ? csrfToken.value : "";
        }
        var notyf = new Notyf();

        // Appliquer le filtre pour Charger les donnees de Prestations
        $("#btnDateFilter").on("click", function(){
            const date_debut_str = $("#date_debut").val()
            const date_fin_str = $("#date_fin").val()
            const date_debut = `${date_debut_str.split('/')[2]}-${date_debut_str.split('/')[1]}-${date_debut_str.split('/')[0]}`;
            const date_fin = `${date_fin_str.split('/')[2]}-${date_fin_str.split('/')[1]}-${date_fin_str.split('/')[0]}`;
            loadInitPrestationByDate(date_debut, date_fin)
        })

        const myDate = new Date();
        const start = `${myDate.getFullYear()}-${myDate.getMonth() + 1}-${myDate.getDate()}`;
        const end = `${myDate.getFullYear()}-${myDate.getMonth() + 1}-${myDate.getDate()}`;

        loadInitPrestationByDate(start, end)

        function loadInitPrestationByDate(start, end){
            const $select = $("#prestations")
            data = {dateDebut: start, dateFin: end};

            $.ajax({
                url: "/employe/performances/performances_par_date/",
                method: 'POST',
                headers: { 'X-CSRFToken': getCSRFToken() },
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function(res){
                    $select.empty(); // Vider l'ancien contenu
                    $select.append(new Option("-- Sélectionnez une Prestation --", "", true, true));
                    res.data.forEach(function(prest){
                        const option = new Option(`${prest.client} Montant: ${prest.montant_total} - Remise ${prest.remise} | ${prest.created_at}`,prest.id);
                        option.setAttribute("data-montant", prest.montant_total);
                        $select.append(option);
                    });
                    notyf.success({
                      message: "Liste de prestation chargée avec succès.",
                      duration: 3000,
                      position: {
                        x: 'right',
                        y: 'top'
                      }
                    })
                },
                error: function(xhr){
                    console.log(xhr);
                    const errorResponse = xhr.responseJSON ? xhr.responseJSON.error : 'Erreur serveur.';
                    notyf.error({
                      message: errorResponse,
                      duration: 3000,
                      position: {
                        x: 'right',
                        y: 'top'
                      }
                    })
                }
            })
        }

        // Charger les services d'une prestation
        let listPrestations = []
        let montantTotal;
        $("#prestations").on("change", function(){
            const idInitPrestation = $(this).val();
            const montant = $(this).find("option:selected").data("montant");

            // Annuler le traitement si l'id init Prestation est null
            if(!idInitPrestation){
                return;
            }

            $("#montantTotalPrestation").text(montant.toLocaleString() + " GNF")
            montantTotal = toNumber($("#montantTotalPrestation").text())
            montantTotal = toNumber($("#montantTotalPrestation").text())
            $.ajax({
                url: `/employe/performances/details_prestation_par_id/${idInitPrestation}/`,
                method: 'GET',
                success: function(res){
                    listPrestations = res.data;

                    createAttributionTBody(listPrestations, listPrestations.service, listPrestations.id, listPrestations.nb_prestataires)

                    /*$servicesPrestation = $("#servicesPrestation")
                    $servicesPrestation.empty();
                    $servicesPrestation.append(new Option("-- Sélectionnez le Service --", "", true, true));
                    res.data.forEach(function(servicePrest){
                        const option = new Option(servicePrest.service, servicePrest.id);
                        $servicesPrestation.append(option);
                    });*/
                },
                error: function(xhr){
                    notyf.error({
                      message: xhr.msg,
                      duration: 5000,
                      position: {
                        x: 'right',
                        y: 'top'
                      }
                    })
                }
            })
        })

        function createAttributionTBody(tabEmploye, service, idService, nb_prestataires){
            $attributionTBody = $("#attributionTBody")
            $attributionTBody.empty();

            tabEmploye.forEach(function(prest){
                const $tr = $('<tr>')
                const $tdEmploye = $('<td>')
                const $tdMontant = $('<td>')
                //const $tdService = $('<td>')

                const service = prest.service
                const id_service = prest.id_service
                const prestataires = prest.prestataires
                const rowspan = prest.nb_prestataires

                // La Premiere ligne contient le Service
                const $firstTr = $('<tr>')
                const $tdService = $('<td>').text(service).attr('rowspan', rowspan)
                $firstTr.append($tdService)

                // Premier Prestataire
                const firstPrestataire = prestataires[0]
                const $tdPrestataire = $('<td>').text(firstPrestataire[1] + " " + firstPrestataire[2])
                const $inputMontant = $('<input>', {type: 'number', class: 'prixService',
                    'data-id-employe': firstPrestataire[0], 'data-id-service': id_service
                })
                $tdMontant.append($inputMontant)
                $firstTr.append($tdPrestataire, $tdMontant)

                $attributionTBody.append($firstTr);

                // Pour les lignes suivantes (sans la colonne service)
                for(let i = 1; i < prestataires.length; i++){
                    const $tdMontant2 = $('<td>')
                    const prestataire = prestataires[i]
                    $tdMontant2.append($('<input>', {type: 'number', class: 'prixService',
                        'data-id-employe': prestataire[0], 'data-id-service': id_service
                    }))
                    const $tr = $('<tr>')
                    $tr.append($('<td>').text(prestataire[1] + " " + prestataire[2]), $tdMontant2)

                    $attributionTBody.append($tr)
                }

                /*$tdService.text(service).attr('id', idService)
                $tdEmploye.text(employee[1] + " " + employee[2])
                $tr.append($tdService, $tdEmploye, $tdMontant)
                $attributionTBody.append($tr)*/
            }) // End forEach

        }

        // Formater une valeur (string ou autre) en Number
        function toNumber(value) {
            return Number(value.replace(/[^0-9.-]/g, ""));
        }

        $("#attributionTBody").on("input", ".prixService", function(){

            // Calculer la somme de tous les services
            let sommePrix = 0
            const prixInputs = $(".prixService")

            prixInputs.each(function(){
                const prix = toNumber($(this).val());
                if(!isNaN(prix)) sommePrix += prix
            })

            // Si le montant à attribuer dépasse le montant disponible
            if(sommePrix > montantTotal){
                notyf.error({
                  message: "Le montant total est insuffisant.",
                  duration: 3000,
                  position: {
                    x: 'right',
                    y: 'top'
                  }
                })

                $("#validerAttribution").prop('disabled', true)

                prixInputs.each(function(){
                    if(toNumber($(this).val()) <= 0){
                        const prix = toNumber($(this).val());
                        $(this).prop("disabled", true)
                   }
                })

                return
            }
            prixInputs.prop("disabled", false)
            $("#validerAttribution").prop('disabled', false)

            // Nouveau montant disponible
            const montantDisponible = montantTotal - sommePrix
            $("#montantTotalPrestation").text(montantDisponible.toLocaleString() + " GNF")
        })

       $("#validerAttribution").on("click", function(){
            const idInitPrestation = $("#prestations").val()
            const totalADistribuer = toNumber($("#montantTotalPrestation").text())
            const $inputsPrix = $(".prixService")
            const tabPrestations = [];

            let erreur = false;

            $inputsPrix.each(function(){
                // Verifier si le montant total a bien été complètement distribué
                if($(this).val() <= 0 || totalADistribuer > 0 ){
                    notyf.error({
                      message: "Vous devez attribuer tous le montant de la prestation",
                      duration: 3000,
                      position: {
                        x: 'right',
                        y: 'top'
                      }
                    })
                    erreur = true;
                    return false;
                }
                tabPrestations.push(
                    {
                        idPrestataire: $(this).data("id-employe"),
                        idService: $(this).data("id-service"),
                        montantAttribue: $(this).val()
                    }
                )
            })

            if(erreur) return

            const data = {
                idInitPrestation: idInitPrestation,
                tabPrestations: tabPrestations,
            }

            $.ajax({
                url: "/employe/performances/attributions/",
                method: 'POST',
                headers: { 'X-CSRFToken': getCSRFToken() },
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                success: function(res){
                    notyf.success({
                      message: res.msg,
                      duration: 3000,
                      position: {
                        x: 'right',
                        y: 'top'
                      }
                    })
                    $attributionTBody = $("#attributionTBody").empty();
                },
                error: function(err){
                    console.log(err)
                }
            })
       })

    })
</script>
<!--<script defer src="{% static 'assets/select2/js/select2.min.js' %}"></script>-->

{% endblock %}